@charset "utf-8";


/*
** @author			HTML5 anchor
** @license			http://creativecommons.org/licenses/by/3.0/
** @version			1.0
** @link			http://html5anchor.com
*/







.button {
padding:13px 15px 10px 15px;
/*font-family:"Nunito",sans-serif;*/
font-size:10px;
color:#B3E4FF;
text-transform:uppercase;
text-decoration:none;
text-shadow:0 0 3px rgba(0,0,0,1);
/*line-height:1;*/
letter-spacing:1px;
background:#002A4C;
background:-webkit-gradient(linear,left top,left bottom,from(#000000),to(#727273));
background:-moz-linear-gradient(top,#000000,#727273);
background:-webkit-linear-gradient(top,#000000,#727273);
background:-o-linear-gradient(top,#000000,#727273);
background:linear-gradient(top,#000000,#727273);
border:#000000 solid 1px;
border-bottom-width:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
-moz-box-shadow:
0 0 5px rgba(0,0,0,0.5),
0 1px 0 rgba(255,255,255,0.1) inset;
-webkit-box-shadow:
0 0 5px rgba(0,0,0,0.5),
0 1px 0 rgba(255,255,255,0.1) inset;
box-shadow:
0 0 5px rgba(0,0,0,0.5),
0 1px 0 rgba(255,255,255,0.1) inset;
display:inline-block;
cursor:pointer;
-moz-transition:all 0.2s ease-in-out;
-webkit-transition:all 0.2s ease-in-out;
-o-transition:all 0.2s ease-in-out;
transition:all 0.2s ease-in-out;
}

.button:active {
border-bottom-width:1px;
-moz-box-shadow:
0 1px 0 rgba(255,255,255,0.1),
0 1px 1px rgba(0,0,0,0.7) inset;
-webkit-box-shadow:
0 1px 0 rgba(255,255,255,0.1),
0 1px 1px rgba(0,0,0,0.7) inset;
box-shadow:
0 1px 0 rgba(255,255,255,0.1),
0 1px 1px rgba(0,0,0,0.7) inset;
-moz-transition:none;
-moz-transition:all 0.2s ease-in-out;
-webkit-transition:all 0.2s ease-in-out;
-o-transition:all 0.2s ease-in-out;
transition:all 0.2s ease-in-out;
}