<!DOCTYPE html>
<html>
    <head>
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <!-- Set the viewport width to device width for mobile -->
        <title>TMO.sg - Mobile</title>

        <link rel="stylesheet" type="text/css" href="resources/inc/main.css">
        <link rel="stylesheet" href="resources/fontello/css/fontello.css">
        <link rel="stylesheet" href="resources/fontello/css/animation.css">
        <!--[if IE 7]>
        <link rel="stylesheet" href="resources/fontello/css/fontello-ie7.css"><![endif]-->
        <link rel="stylesheet" href="resources/windows8/css/demo-styles.css" />
        <!-- Included JS Files -->
        <!-- Included CSS Files -->
        <!--         <link rel="stylesheet" href="resources/offcanvas/stylesheets/app.css"> -->
        <link rel="stylesheet" href="resources/offcanvas/stylesheets/offcanvas.css">
        <script src="resources/offcanvas/javascripts/foundation/modernizr.foundation.js"></script>
        <script src="resources/jquery-1.8.1.min.js" type="text/javascript"></script>
        <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
        <script src="resources/js/jquery.tmpl.js" type="text/javascript"></script>
        <script src="resources/windows8/js/prefixfree.min.js"></script>
        <script src="resources/js/jquery.ui.widget.js"></script>
        <script src="resources/js/jquery.iframe-transport.js"></script>
        <script src="resources/js/jquery.fileupload.js"></script>

        <!-- <link href="resources/jquery-ui-1.10.1.custom/css/tmo-theme/jquery-ui-1.10.1.custom.css" rel="stylesheet"> -->
        <script id="pageTmpl" type="text/x-jquery-tmpl">
            <div class="${theClass}" style="${theStyle}">
            <div class="front">
            <div class="outer">
            <div class="content" style="${theContentStyleFront}">
            <div class="inner">{{html theContentFront}}</div>
            </div>
            </div>
            </div>
            <div class="back">
            <div class="outer">
            <div class="content" style="${theContentStyleBack}">
            <div class="inner">{{html theContentBack}}</div>
            </div>
            </div>
            </div>
            </div>

        </script>
        <script src="resources/js/jquery.validate.js"></script>
      
        <script src="resources/js/tmo-core.js" type="text/javascript"></script>
        <script src="resources/js/tmo-user.js" type="text/javascript"></script>
        <script src="resources/js/tmo-profile.js" type="text/javascript"></script>
        <script src="resources/js/tmo-shop.js" type="text/javascript"></script>
        <script src="resources/js/tmo-invoice.js" type="text/javascript"></script>
        <!--   <script src="resources/offcanvas/javascripts/foundation/jquery.js"></script> -->

    </head>

    <body>
        #parse("store/metro_action.vm")
