<div class="page-store profile-screen">
    <h2 class="page-title">Profile</h2>
    <form id="profile-form" class="myform">
        Profile Picture:
        <input id="fileupload" class="fileupload" type="file" name="files[]" data-url="save" data-url_target="profile_picture_url" data-thumb="thumb_sample" multiple />
        <img id="thumb_sample" class="thumb fileupload_thumb"/>
        <input id="profile_id" readonly value="$!user.id" type="text"  name="profile_id">
        <input id="username" readonly value="$!user.username" type="text"  name="username">
        <input id="first_name" value="$!user.firstname" class=" required" name="first_name" type="text" placeholder="First Name" >
        <input id="last_name" value="$!user.lastname" class=" required" name="last_name" type="text" placeholder="Last Name" >

        <select name="country" id="mailing_country" class="gray2" name="country">
            #foreach ($v in $countries)
            <option value="$util.trimString($v)"
            #if ($util.trimString($v)==$util.trimString($!address.mailing_country))
            selected
            #end
            >$!v</option>
            #end
        </select>
        <input id="profile_phone" class=" required" type="text" value="$!user.phone" name="phone" placeholder="Phone Number" />
        <input type="submit" class="icon-user-add button" id="profile-button" value="Update Profile" />
    </form>
    <div class="close-button">
        x
    </div>
    <div class="action_menu measurement user_selections"></div>
</div>
<script>
    $(".fileupload_thumb").hide();
    $(".fileupload").text("Input File here");
    $(document).ready(function(){
        $.tmo_profile.init($("#profile-form"));
    });
</script>