<!DOCTYPE html>
<html>
	<head>
		<title>English</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=8;IE=9;chrome=1;" />
		<meta name='lsq' content='1'/>
		<meta name='trixrows' content='38'/>
		<meta name='trixr1' content='0'/>
		<meta name='trixr2' content='38'/>
		<meta name='trixdiv' content='20'/>
		<meta name='trixcnt' content='2'/>
		<meta name='trixlast' content='18'/>
		<link rel=stylesheet href="/static/spreadsheets/client/css/3971517159-tiler_view_ltr.css" type="text/css">
		<style>
			html {
				overflow: visible
			};
		</style>
	</head>
	<body style='border:0px;margin:0px'>
		<style>
.tblGenFixed td {padding:0 3px;overflow:hidden;white-space:normal;letter-spacing:0;word-spacing:0;background-color:#fff;z-index:1;border-top:0px none;border-left:0px none;border-bottom:1px solid #CCC;border-right:1px solid #CCC;} .dn {display:none} .tblGenFixed td.s37 {background-color:white;font-family:arial,sans,sans-serif;font-size:100.0%;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:bottom;direction:Context;white-space:normal;overflow:hidden;border-right:1px solid ;border-bottom:;} .tblGenFixed td.s36 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:Context;white-space:nowrap;overflow:hidden;border-right:1px solid ;border-bottom:1px solid ;} .tblGenFixed td.s35 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:left;vertical-align:middle;direction:auto-ltr;white-space:nowrap;overflow:hidden;border-right:1px solid ;border-bottom:1px solid ;border-left:1px solid ;} .tblGenFixed td.s34 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:Context;white-space:normal;overflow:hidden;border-right:;border-bottom:;} .tblGenFixed td.s33 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:right;vertical-align:middle;direction:Context;white-space:normal;overflow:hidden;border-right:;border-bottom:;} .tblGenFixed td.s32 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:left;vertical-align:middle;direction:Context;white-space:normal;overflow:hidden;border-right:;border-bottom:;} .tblGenFixed td.s31 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:left;vertical-align:middle;direction:Context;white-space:normal;overflow:hidden;border-right:;border-bottom:1px solid ;} .tblGenFixed td.s30 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:Context;white-space:normal;overflow:hidden;border-right:;border-bottom:1px solid ;} .tblGenFixed td.s39 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:bottom;direction:Context;white-space:nowrap;overflow:hidden;border-right:1px solid ;border-bottom:1px solid ;} .tblGenFixed td.s38 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:left;vertical-align:bottom;direction:auto-ltr;white-space:nowrap;overflow:hidden;border-right:1px solid ;border-bottom:1px solid ;} .tblGenFixed td.s46 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:Context;white-space:nowrap;overflow:hidden;border-right:;border-bottom:;} .tblGenFixed td.s45 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;vertical-align:middle;direction:Context;white-space:nowrap;overflow:hidden;border-right:;border-bottom:1px solid ;} .tblGenFixed td.s48 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;vertical-align:middle;direction:Context;white-space:nowrap;overflow:hidden;border-right:;border-bottom:;} .tblGenFixed td.s47 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:Context;white-space:normal;overflow:hidden;border-right:;border-bottom:;} .tblGenFixed td.s42 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:left;vertical-align:middle;direction:auto-ltr;white-space:normal;overflow:hidden;border-right:1px solid ;border-bottom:1px solid ;} .tblGenFixed td.s41 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:left;vertical-align:middle;direction:auto-ltr;white-space:normal;overflow:hidden;border-right:1px solid ;border-bottom:1px solid ;border-left:1px solid ;} .tblGenFixed td.s44 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:left;vertical-align:middle;direction:Context;white-space:nowrap;overflow:hidden;border-right:;border-bottom:1px solid ;} .tblGenFixed td.s43 {background-color:white;font-family:arial,sans,sans-serif;font-size:100.0%;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:bottom;direction:Context;white-space:normal;overflow:hidden;border-right:;border-bottom:1px solid ;} .tblGenFixed td.s49 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:left;vertical-align:bottom;direction:auto-ltr;white-space:normal;overflow:hidden;border-right:1px solid ;border-bottom:1px solid ;border-left:1px solid ;} .tblGenFixed td.s40 {background-color:white;font-family:arial,sans,sans-serif;font-size:100.0%;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:bottom;direction:Context;white-space:normal;overflow:hidden;border-right:;border-bottom:;} .tblGenFixed td.s52 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:left;vertical-align:middle;direction:Context;white-space:nowrap;overflow:hidden;border-right:;border-bottom:;} .tblGenFixed td.s29 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:Context;white-space:normal;overflow:hidden;border-right:;border-bottom:;} .tblGenFixed td.s27 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:left;vertical-align:middle;direction:auto-ltr;white-space:normal;overflow:hidden;border-right:1px solid ;border-bottom:1px solid ;} .tblGenFixed td.s28 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:right;vertical-align:middle;direction:Context;white-space:nowrap;overflow:hidden;border-right:1px solid ;border-bottom:1px solid ;border-left:1px solid ;} .tblGenFixed td.s25 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:Context;white-space:nowrap;overflow:hidden;border-right:1px solid ;border-bottom:1px solid ;} .tblGenFixed td.s9 {background-color:#f2f2f2;font-family:arial,sans,sans-serif;font-size:110.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;text-align:right;vertical-align:middle;direction:auto-ltr;white-space:nowrap;overflow:hidden;border-right:;border-bottom:1px solid ;} .tblGenFixed td.s26 {background-color:white;font-family:SimSun,宋体,MS Song,serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:Context;white-space:normal;overflow:hidden;border-right:1px solid ;border-bottom:1px solid ;} .tblGenFixed td.s7 {background-color:#f2f2f2;font-family:arial,sans,sans-serif;font-size:110.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;text-align:right;vertical-align:middle;direction:auto-ltr;white-space:nowrap;overflow:hidden;border-right:1px solid ;border-bottom:1px solid ;} .tblGenFixed td.s23 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:auto-ltr;white-space:nowrap;overflow:hidden;border-right:1px solid ;border-bottom:;border-left:1px solid ;} .tblGenFixed td.s24 {background-color:white;font-family:arial,sans,sans-serif;font-size:110.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:auto-ltr;white-space:normal;overflow:hidden;border-right:1px solid ;border-bottom:;} .tblGenFixed td.s8 {background-color:white;font-family:arial,sans,sans-serif;font-size:110.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;vertical-align:middle;direction:Context;white-space:nowrap;overflow:hidden;border-right:1px solid ;border-bottom:1px solid ;} .tblGenFixed td.s50 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:bottom;direction:Context;white-space:normal;overflow:hidden;border-right:1px solid ;border-bottom:1px solid ;} .tblGenFixed td.s21 {background-color:white;font-family:arial,sans,sans-serif;font-size:110.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:left;vertical-align:middle;direction:auto-ltr;white-space:normal;overflow:hidden;border-right:;border-bottom:1px solid ;} .tblGenFixed td.s5 {background-color:#f2f2f2;font-family:arial,sans,sans-serif;font-size:110.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;text-align:right;vertical-align:middle;direction:auto-ltr;white-space:nowrap;overflow:hidden;border-right:1px solid ;border-bottom:1px solid ;border-left:1px solid ;} .tblGenFixed td.s51 {background-color:white;font-family:arial,sans,sans-serif;font-size:100.0%;font-weight:normal;font-style:normal;text-decoration:none;vertical-align:bottom;direction:Context;white-space:normal;overflow:hidden;border-right:;border-bottom:;} .tblGenFixed td.s22 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:right;vertical-align:middle;direction:auto-ltr;white-space:normal;overflow:hidden;border-right:1px solid ;border-bottom:1px solid ;} .tblGenFixed td.s6 {background-color:#f2f2f2;font-family:arial,sans,sans-serif;font-size:110.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;text-align:left;vertical-align:middle;direction:auto-ltr;white-space:nowrap;overflow:hidden;border-right:1px solid ;border-bottom:1px solid ;} .tblGenFixed td.s3 {background-color:#f2f2f2;font-family:arial,sans,sans-serif;font-size:110.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:auto-ltr;white-space:nowrap;overflow:hidden;border-right:;border-bottom:1px solid ;} .tblGenFixed td.s20 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:auto-ltr;white-space:nowrap;overflow:hidden;border-right:1px solid ;border-bottom:1px solid ;} .tblGenFixed td.s4 {background-color:white;font-family:arial,sans,sans-serif;font-size:110.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:Context;white-space:nowrap;overflow:hidden;border-right:;border-bottom:1px solid ;} .tblGenFixed td.s0 {background-color:#ffff00;font-family:arial,sans,sans-serif;font-size:180.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:auto-ltr;white-space:nowrap;overflow:hidden;border-top:1px solid #CCC;border-right:;border-bottom:;border-left:1px solid #CCC;} .tblGenFixed td.s2 {background-color:white;font-family:arial,sans,sans-serif;font-size:160.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:Context;white-space:nowrap;overflow:hidden;border-right:;border-bottom:1px solid ;} .tblGenFixed td.s1 {background-color:#f2f2f2;font-family:arial,sans,sans-serif;font-size:110.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;text-align:right;vertical-align:middle;direction:auto-ltr;white-space:normal;overflow:hidden;border-right:1px solid ;border-bottom:1px solid ;border-left:1px solid ;} .tblGenFixed td.s16 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:right;vertical-align:middle;direction:auto-ltr;white-space:nowrap;overflow:hidden;border-right:1px solid ;border-bottom:1px solid ;} .tblGenFixed td.s17 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:left;vertical-align:middle;direction:auto-ltr;white-space:normal;overflow:hidden;border-right:;border-bottom:1px solid ;} .tblGenFixed td.s18 {background-color:white;font-family:arial,sans,sans-serif;font-size:110.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:left;vertical-align:middle;direction:auto-ltr;white-space:nowrap;overflow:hidden;border-right:1px solid ;border-bottom:1px solid ;} .tblGenFixed td.s19 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:auto-ltr;white-space:normal;overflow:hidden;border-right:1px solid ;border-bottom:1px solid ;} .tblGenFixed td.s12 {background-color:#f2f2f2;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:auto-ltr;white-space:nowrap;overflow:hidden;border-right:;border-bottom:1px solid ;} .tblGenFixed td.s13 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:right;vertical-align:middle;direction:auto-ltr;white-space:nowrap;overflow:hidden;border-right:1px solid ;border-bottom:1px solid ;border-left:1px solid ;} .tblGenFixed td.s14 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:Context;white-space:normal;overflow:hidden;border-right:1px solid ;border-bottom:1px solid ;} .tblGenFixed td.s15 {background-color:white;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:normal;font-style:normal;color:#000000;text-decoration:none;text-align:left;vertical-align:middle;direction:auto-ltr;white-space:nowrap;overflow:hidden;border-right:1px solid ;border-bottom:1px solid ;} .tblGenFixed td.s10 {background-color:white;font-family:arial,sans,sans-serif;font-size:110.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:Context;white-space:nowrap;overflow:hidden;border-right:;border-bottom:1px solid ;} .tblGenFixed td.s11 {background-color:#f2f2f2;font-family:arial,sans,sans-serif;font-size:120.0%;font-weight:bold;font-style:normal;color:#000000;text-decoration:none;text-align:center;vertical-align:middle;direction:auto-ltr;white-space:nowrap;overflow:hidden;border-right:;border-bottom:1px solid ;border-left:1px solid ;}
		</style>
		<table dir='ltr' border=0 cellpadding=0 cellspacing=0 class='tblGenFixed' id='tblMain'>
			<tr class='rShim'>
				<td class='rShim' style='width:0;'><td class='rShim' style='width:122px;'><td class='rShim' style='width:64px;'><td class='rShim' style='width:84px;'><td class='rShim' style='width:50px;'><td class='rShim' style='width:118px;'><td class='rShim' style='width:112px;'><td class='rShim' style='width:68px;'><td class='rShim' style='width:59px;'><td class='rShim' style='width:43px;'><td class='rShim' style='width:127px;'><td class='rShim' style='width:108px;'><td class='rShim' style='width:69px;'><td class='rShim' style='width:63px;'><td class='rShim' style='width:102px;'><td class='rShim' style='width:171px;'>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:17px;'>
						.
					</td><td  colspan=15 rowspan=2 dir='ltr' class='s0'>TMO Order Sheet<td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'>
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:17px;'>
						.
					</td><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'>
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:35px;'>
						.
					</td><td  dir='ltr' class='s1'>单号Order#:<td  colspan=6 class='s2'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td  colspan=3 dir='ltr' class='s3'>邮箱Email:<td style='display:none;'><td style='display:none;'><td  colspan=5 class='s4'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'>
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:30px;'>
						.
					</td><td  dir='ltr' class='s5'>客户Name:<td  colspan=4 class='s4'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td  dir='ltr' class='s6'>电话Contact:<td  colspan=3 class='s4'><td style='display:none;'><td style='display:none;'><td  dir='ltr' class='s7'>价格Price:<td  colspan=3 class='s4'><td style='display:none;'><td style='display:none;'><td  dir='ltr' class='s7'>试穿1st Fit:<td  class='s8'>
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:26px;'>
						.
					</td><td  dir='ltr' class='s5'>客户号Cust #：<td  colspan=4 class='s4'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td  colspan=2 dir='ltr' class='s9'>订单日期Order Date:<td style='display:none;'><td  colspan=3 class='s10'><td style='display:none;'><td style='display:none;'><td  colspan=2 dir='ltr' class='s9'>交货日期Delivery Date:<td style='display:none;'><td  colspan=3 class='s10'><td style='display:none;'><td style='display:none;'>
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:21px;'>
						.
					</td><td  colspan=5 dir='ltr' class='s11'>1. Fabrics 布料<td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td  colspan=5 dir='ltr' class='s12'>4. Cuffs 袖口<td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td  colspan=5 dir='ltr' class='s12'>7. Shirt Placket 衬衫门襟<td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'>
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:20px;'>
						.
					</td><td  dir='ltr' class='s13'>Code:<td  colspan=4 class='s14'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td  dir='ltr' class='s15'>袖口Code:<td  colspan=4 class='s14'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td  dir='ltr' class='s16'>门襟Plackett：<td  colspan=4 dir='ltr' class='s17'>明宽W【  】明窄N【  】 暗Hid【 】无None【  】<td style='display:none;'><td style='display:none;'><td style='display:none;'>
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:21px;'>
						.
					</td><td  colspan=5 dir='ltr' class='s11'>2. Style 款式<td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td  dir='ltr' class='s18'>袖口硬度Stiffness:<td  colspan=4 dir='ltr' class='s19'>标准Std【 】硬 H【  】软S【  】 <td style='display:none;'><td style='display:none;'><td style='display:none;'><td  colspan=5 dir='ltr' class='s12'>8. Buttons 纽扣<td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'>
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:20px;'>
						.
					</td><td  dir='ltr' class='s13'>性别Sex<td  colspan=4 dir='ltr' class='s20'>男M【  】  女 F【  】<td style='display:none;'><td style='display:none;'><td style='display:none;'><td  colspan=5 dir='ltr' class='s12'>5. Shirt Front 衬衫底部<td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td  dir='ltr' class='s16'>纽扣型号Code:<td  colspan=4 class='s14'><td style='display:none;'><td style='display:none;'><td style='display:none;'>
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:19px;'>
						.
					</td><td  dir='ltr' class='s13'>款式Style:<td  colspan=4 dir='ltr' class='s21'>标准Nor【  】  贴身Slim【  】宽松Loose 【  】<td style='display:none;'><td style='display:none;'><td style='display:none;'><td  dir='ltr' class='s18'>衬衫底部Bottom:<td  colspan=4 dir='ltr' class='s17'>时尚Mod【 】平角 Flat【  】经典Class【 】<td style='display:none;'><td style='display:none;'><td style='display:none;'><td  dir='ltr' class='s22'>纽扣线B. Thr:<td  colspan=4 class='s14'><td style='display:none;'><td style='display:none;'><td style='display:none;'>
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:40px;'>
						.
					</td><td  rowspan=2 dir='ltr' class='s23'>袖子Sleeve:<td  colspan=4 dir='ltr' class='s20'>长Long【 】 短Short【 】无None【 】<td style='display:none;'><td style='display:none;'><td style='display:none;'><td  dir='ltr' class='s18'>口袋Pocket:<td  colspan=4 dir='ltr' class='s17'>斜角Cut【  】    V型【  】  西装West【  】<td style='display:none;'><td style='display:none;'><td style='display:none;'><td  dir='ltr' class='s22'>钮门线H. Thr:<td  colspan=4 class='s14'><td style='display:none;'><td style='display:none;'><td style='display:none;'>
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:21px;'>
						.
					</td><td style='display:none;'><td  colspan=4 dir='ltr' class='s20'>直行St.【 】微灯笼M. Bell【 】灯笼Bell【 】<td style='display:none;'><td style='display:none;'><td style='display:none;'><td  dir='ltr' class='s18'>口袋位置Position:<td  colspan=4 dir='ltr' class='s19'>左Left【  】    两边 Both【  】<td style='display:none;'><td style='display:none;'><td style='display:none;'><td  colspan=5 dir='ltr' class='s12'>9 Embroidery 绣花<td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'>
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:21px;'>
						.
					</td><td  colspan=5 dir='ltr' class='s11'>3. Collar 衣领<td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td  colspan=5 dir='ltr' class='s12'>6. Shirt Back 衬衫背部<td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td  rowspan=3 dir='ltr' class='s24'>绣花位置          Position:<td  colspan=4 rowspan=3 dir='ltr' class='s17'>胸左Ch L 【  】/ 右R【  】 袖口左Cuff L 【  】/ 右R【  】                          下摆左 Fr L【  】/ 左右R【  】 领子Neck【  】                       门襟Plack3cm【  】<td style='display:none;'><td style='display:none;'><td style='display:none;'>
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:26px;'>
						.
					</td><td  dir='ltr' class='s13'>衣领型号Code:<td  colspan=4 class='s25'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td  rowspan=3 dir='ltr' class='s20'>背部打褶Back:<td  colspan=4 rowspan=3 dir='ltr' class='s19'>中间Ctr【  】   两边Sides【  】                                腰部打省Darts【  】 无 None【   】<td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'>
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:19px;'>
						.
					</td><td  dir='ltr' class='s13'>领座纽扣Code:<td  colspan=4 dir='ltr' class='s19'>1颗1B【  】 2颗2B【  】<td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'>
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:19px;'>
						.
					</td><td  dir='ltr' class='s13'>衣领硬度Stiffness:<td  colspan=4 dir='ltr' class='s17'>标准Std【 】硬H【 】软S【 】门襟衬SS【 】<td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td style='display:none;'><td  dir='ltr' class='s16'>绣花内容Word:<td  colspan=4 class='s26'><td style='display:none;'><td style='display:none;'><td style='display:none;'>
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:40px;'>
						.
					</td><td  dir='ltr' class='s13'>领尖条Stay:<td  colspan=4 dir='ltr' class='s21'>不动Perm【  】移动  Remove【  】无No【 】<td style='display:none;'><td style='display:none;'><td style='display:none;'><td  dir='ltr' class='s27'>后肩Yoke:<td  colspan=4 dir='ltr' class='s21'>标准Split【  】牛仔 CB【  】不开缝 Norm【  】<td style='display:none;'><td style='display:none;'><td style='display:none;'><td  dir='ltr' class='s22'>绣花线Thread:<td  colspan=4 class='s14'><td style='display:none;'><td style='display:none;'><td style='display:none;'>
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:20px;'>
						.
					</td><td  class='s28'><td  dir='ltr' class='s19'>实际<td  dir='ltr' class='s19'>放码<td  class='s29'><td  class='s30'><td  class='s31'><td  class='s31'><td  class='s32'><td  class='s32'><td  class='s32'><td  class='s33'><td  class='s34'><td  class='s34'><td  class='s34'><td  class='s34'>
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:21px;'>
						.
					</td><td  dir='ltr' class='s35'>Neck  领围<td  class='s36'><td  class='s36'><td  class='s37'><td  dir='ltr' class='s38'>领底I.Col:<td  colspan=2 class='s39'><td style='display:none;'><td  class='s40'><td ><td ><td ><td ><td ><td ><td >
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:21px;'>
						.
					</td><td  dir='ltr' class='s41'>Shoulder  肩宽<td  class='s14'><td  class='s36'><td  class='s37'><td  dir='ltr' class='s42'>领面O.Col:<br/><td  colspan=2 class='s14'><td style='display:none;'><td  class='s40'><td ><td ><td ><td ><td ><td ><td >
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:21px;'>
						.
					</td><td  dir='ltr' class='s35'>Chest  胸围<td  class='s36'><td  class='s36'><td  class='s40'><td  class='s43'><td  class='s44'><td  class='s45'><td ><td ><td ><td ><td ><td ><td ><td >
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:21px;'>
						.
					</td><td  dir='ltr' class='s35'>Waist  腰围<td  class='s36'><td  class='s36'><td  class='s37'><td  dir='ltr' class='s38'>领座内IS:<td  colspan=2 class='s39'><td style='display:none;'><td  colspan=3 class='s46'><td style='display:none;'><td style='display:none;'><td ><td ><td ><td ><td >
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:21px;'>
						.
					</td><td  dir='ltr' class='s41'>Seat  臀围<td  class='s14'><td  class='s36'><td  class='s37'><td  dir='ltr' class='s38'>领座外OS:<td  colspan=2 class='s39'><td style='display:none;'><td  colspan=3 class='s47'><td style='display:none;'><td style='display:none;'><td ><td ><td ><td ><td >
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:21px;'>
						.
					</td><td  dir='ltr' class='s41'>Sh.Len  前中长<td  class='s14'><td  class='s36'><td  class='s40'><td  class='s43'><td  class='s44'><td  class='s45'><td ><td ><td ><td ><td ><td ><td ><td >
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:21px;'>
						.
					</td><td  dir='ltr' class='s35'>Len to C前中到胸<td  class='s36'><td  class='s36'><td  class='s37'><td  dir='ltr' class='s38'>门襟内IP:<td  colspan=2 class='s39'><td style='display:none;'><td  class='s48'><td ><td ><td ><td ><td ><td ><td >
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:21px;'>
						.
					</td><td  dir='ltr' class='s41'>Len to W  前中到腰<td  class='s14'><td  class='s36'><td  class='s37'><td  dir='ltr' class='s38'>门禁外OP:<td  colspan=2 class='s39'><td style='display:none;'><td  class='s40'><td ><td ><td ><td ><td ><td ><td >
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:21px;'>
						.
					</td><td  dir='ltr' class='s41'>Len to S  前中到臀<td  class='s14'><td  class='s36'><td  class='s40'><td  class='s43'><td  class='s44'><td  class='s43'><td ><td ><td ><td ><td ><td ><td ><td >
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:21px;'>
						.
					</td><td  dir='ltr' class='s41'>Armpit  腋窝<td  class='s14'><td  class='s36'><td  class='s37'><td  dir='ltr' class='s38'>纽扣襟内IBP:<td  colspan=2 class='s39'><td style='display:none;'><td  class='s40'><td ><td ><td ><td ><td ><td ><td >
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:21px;'>
						.
					</td><td  dir='ltr' class='s41'>Bicep  袖围<td  class='s14'><td  class='s36'><td  class='s37'><td  dir='ltr' class='s38'>纽扣襟外OBP:<td  colspan=2 class='s39'><td style='display:none;'><td  class='s40'><td ><td ><td ><td ><td ><td ><td >
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:21px;'>
						.
					</td><td  dir='ltr' class='s41'>Len to B  肩到袖围<td  class='s14'><td  class='s36'><td  class='s40'><td  class='s43'><td  class='s44'><td  class='s43'><td ><td ><td ><td ><td ><td ><td ><td >
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:21px;'>
						.
					</td><td  dir='ltr' class='s49'>Elbow  手臂 <td  class='s50'><td  class='s36'><td  class='s37'><td  dir='ltr' class='s38'>袖口内IC:<td  colspan=2 class='s39'><td style='display:none;'><td  class='s40'><td ><td ><td ><td ><td ><td ><td >
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:21px;'>
						.
					</td><td  dir='ltr' class='s49'>Len to E  肩到手臂<td  class='s50'><td  class='s36'><td  class='s37'><td  dir='ltr' class='s38'>袖口外OC:<td  colspan=2 class='s39'><td style='display:none;'><td  class='s40'><td ><td ><td ><td ><td ><td ><td >
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:21px;'>
						.
					</td><td  dir='ltr' class='s41'>Sl. Len  袖长<td  class='s14'><td  class='s36'><td  class='s40'><td  class='s43'><td  class='s44'><td  class='s43'><td ><td ><td ><td ><td ><td ><td ><td >
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:21px;'>
						.
					</td><td  dir='ltr' class='s41'>Cuff  袖口<td  class='s14'><td  class='s36'><td  class='s37'><td  dir='ltr' class='s38'>纽扣叉CBP:<td  colspan=2 class='s39'><td style='display:none;'><td  class='s40'><td ><td ><td ><td ><td ><td ><td >
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:21px;'>
						.
					</td><td  dir='ltr' class='s41'>Len to B  后中到背<td  class='s14'><td  class='s36'><td  class='s37'><td  dir='ltr' class='s38'>扣眼叉CBHP:<td  colspan=2 class='s39'><td style='display:none;'><td  class='s40'><td ><td ><td ><td ><td ><td ><td >
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:21px;'>
						.
					</td><td  dir='ltr' class='s41'>Back  背围<td  class='s14'><td  class='s36'><td  class='s40'><td  class='s51'><td  class='s52'><td  class='s51'><td ><td ><td ><td ><td ><td ><td ><td >
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:21px;'>
						.
					</td><td  dir='ltr' class='s41'>Len to F  中到前围<td  class='s14'><td  class='s36'><td  class='s40'><td ><td ><td ><td ><td ><td ><td ><td ><td ><td ><td >
				</tr>
				<tr dir='ltr'>
					<td class=hd>
					<p style='height:21px;'>
						.
					</td><td  dir='ltr' class='s41'>Front  前围<td  class='s14'><td  class='s36'><td  class='s40'><td ><td ><td ><td ><td ><td ><td ><td ><td ><td ><td >
				</tr>
		</table>
	</body>
</html>