<html>
	<body>
		<p>
			
		Dear $user.firstname $user.lastname,
		</p>

	<p>Your password has been reset successfully.
			
			</p>		<p>Please use password: $user.password for your next login.
					</p>
		<p>Regards,
			</p>		<p>
				Web Administrator.</p>
		<p><a href="delta.tailormeonline.com"><img src="http://tmo-prod-723267837.ap-southeast-1.elb.amazonaws.com/storefront/resources/images/logo.jpg" />
					</a>	<br/>www.tailormeonline.com</p>
	</body>
</html>
