@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff) format('woff');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
    font-family: 'demo-icomoon';
    src: url('../fonts/demo-icomoon.eot');
    src: url('../fonts/demo-icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/demo-icomoon.woff') format('woff'), url('../fonts/demo-icomoon.ttf') format('truetype'), url('../fonts/demo-icomoon.svg#demo-icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: 'demo-icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.slidePageInFromLeft{
  animation: slidePageInFromLeft .8s cubic-bezier(.01,1,.22,.99) 1 0.25s normal forwards;
  }
.openpage{ 
  animation: rotatePageInFromRight 1s cubic-bezier(.66,.04,.36,1.03) 1 normal forwards;
}
.slidePageBackLeft{
  opacity:1; 
  left:0;
  animation: slidePageBackLeft .8s ease-out 1 normal forwards;
}
.slidePageLeft{
  opacity:1;
  transform: rotateY(0) translateZ(0) ; 
  animation:slidePageLeft .8s ease-out 1 normal forwards;
}
.fadeOutback{
  animation: fadeOutBack 0.3s ease-out 1 normal forwards;
}
.fadeInForward-1, .fadeInForward-2, .fadeInForward-3 {
  opacity:0;
  transform: translateZ(-5em) scale(0.75);
  animation: fadeInForward .5s cubic-bezier(.03,.93,.43,.77) .4s normal forwards;
}
.fadeInForward-2{
  animation-delay: .55s;
}
.fadeInForward-3{
  animation-delay: .7s;
}

@keyframes metro_action_up
{
  0%{height:0em; opacity:0;}
  70% {height:3em; opacity:0.5;}
  95% {height:4em; opacity:0.5;}
  100% {height:5em;  opacity:1;}
}
@keyframes metro_action_down
{
  100%{height:0em; opacity:0;}
  0% {height:5em;  opacity:1;}
}

@keyframes fadeOutBack{
  0%{transform: translateX(-2em) scale(1); opacity:1;}
  70% {transform: translateZ(-5em) scale(0.6); opacity:0.5;}
  95% {transform: translateZ(-5em) scale(0.6); opacity:0.5;}
  100% {transform: translateZ(-5em) scale(0); opacity:0;}
}

@keyframes fadeInForward{
  0%{transform: translateZ(-5em) scale(0); opacity:0;}
  100% {transform: translateZ(0) scale(1); opacity:1;}
}

@keyframes rotatePageInFromRight{
  0% {transform:rotateY(-90deg) translateZ(5em);opacity:0}
  30%{opacity:1}
  100%{transform: rotateY(0deg) translateZ(0) ; opacity:1}
}

@keyframes slidePageLeft{
  0%{left:0; transform: rotateY(0deg) translateZ(0) ; opacity:1}
  70%{opacity:1;}
  100%{opacity:0; left:-150%; transform: rotateY(0deg)}
}

@keyframes slidePageInFromLeft{
  0%{opacity:0; }
  30%{opacity:1}
  100%{opacity:1; left:0;}
}

@keyframes slidePageBackLeft{
  0%{opacity:1; left:0; transform: scale(0.95);}
  10%{transform: scale(0.9);}
  70%{opacity:1;}
  100%{opacity:0; left:-150%;}
}

/*======================= media queries =======================*/

@media screen and (min-width: 64em){
  
  @keyframes fadeInForward{
    80%{opacity:0.9;}
    100% {transform: translateZ(0) scale(1) translateX(-2em); opacity:1;}
  }

}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.metro_action {
    background-color: black;
    color: white;
    opacity: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
}

.metro_action_open {
    background-color: black;
    color: white;
    height: 3em;
    width: 3em;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.metro_action_up {
    animation: metro_action_up .2s cubic-bezier(.03,.93,.43,.77) .4s normal forwards;
}
.metro_action_down {
    animation: metro_action_down .2s cubic-bezier(.03,.93,.43,.77) .4s normal forwards;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

html {
    /*  height:100%; */
    overflow-y: scroll;
    overflow-x: hidden;
}
body {
    width: 100%;
    /*  height:100%;*/
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
ul {
    list-style-type: none;
}
.demo-wrapper {
    background: url("../../design/fabrics/Fabric.0141.jpg");
    background-repeat: repeat;
    padding: .1em .5em;
    width: 100%;
    perspective: 3300px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
.dashboard {
    margin: 0 auto;
    width: 100%;
    padding: 0em 1em 1em 1em;
}
.col1, .col2, .col3 , .col{
    width: 99%;
    margin: 1em auto;
}

.page-store {
    width: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    transform-origin: 100% 0%;
    transform: rotateY(-90deg) translateZ(-10em);
/*    overflow: auto;*/
}

.page-store-static {
    width: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: 300;
    position: absolute;
    right: 0;
    top: 0;
    overflow: auto;
}

.page-title {
    margin-top: 1em;
    font-weight: 100;
    font-size: 2.5em;
}

.close-button {
    font-size: 1em;
    width: 1em;
    height: 1em;
    position: absolute;
    top: 1.25em;
    right: 1.25em;
    cursor: pointer;
    border: 1px solid white;
    line-height: .8em;
    text-align: center;
}

.big, .small {
    float: left;
    margin: 0 auto 1%;
    color: white;
    font-size: 1.91em;
    text-align: center;
    height: 4.5em;
    font-weight: 300;
    overflow: hidden;
    padding: .75em 1em;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.big:hover, .small:hover {
    background: white;
}
.big {
    width: 100%;
}
.small {
    width: 49%;
    margin-right: 2%;
}
.big p {
    line-height: 1.5;
    margin-top: .6em;
    padding: 0 .3em;
    transition: all 0.3s ease-out;
}
.small.last {
    margin-right: 0;
}

/*icon fonts styles*/

.icon-font {
    font-size: 2em;
    line-height: 1.6 !important;
}
.big .icon-font {
    float: left;
}
.lock-thumb .icon-font {
    margin-left: 25%;
}

/*styling the boxes/thumbs*/

/****TMO Style Starts****/


.invoice-screen, .design-thumb, .profile-thumb, .design-thumb, .profile-screen {
    background: #F2854C;
}
.design-thumb:hover, .profile-thumb:hover {
    color: #F2854C;
}

.checkout-thumb, .album-thumb, .checkout-thumb, .album-screen {
    background: #83A8C3;
}
.checkout-thumb:hover, .album-thumb:hover {
    color: #83A8C3;
}

.measurement-thumb, .measurement-screen {
    background: #04ACAD;
}
.measurement-thumb:hover {
    color: #04ACAD;
}

.orderstatus-thumb, .help-thumb, .orderstatus-screen, .help-screen {
    background: #85A9C3;
}
.orderstatus-thumb:hover, .help-thumb:hover {
    color: #85A9C3;
}

.wishlist-thumb, .business-thumb, .wishlist-screen, .business-screen {
    background: #BEA881;
}
.wishlist-thumb:hover, .business-thumb:hover {
    color: #BEA881;
}

.login-thumb, .login-screen {
    background: #EF3A5B;
}
.login-thumb:hover {
    color: #EF3A5B;
}

.contact-thumb, .extra-thumb, .contact-screen, .extra-screen {
    background: #385E82;
}
.contact-thumb:hover, .extra-thumb:hover {
    color: #385E82;
}

.history-thumb,.inventory-thumb,.inventory-screen, .history-screen {
    background: #006600;
}
.history-thumb:hover ,.inventory-thumb:hover{
    color: #006600;
}

.readytowear-thumb, .readytowear-screen {
    background: #8BBA30;
}
.readytowear-thumb:hover {
    color: #8BBA30;
}

.register-thumb, .register-screen {
    background: #BEA881;
}
.register-thumb:hover {
    color: #BEA881;
}

.facebook-thumb, .facebook-screen {
    background: #3B5998;
}
.facebook-thumb:hover {
    color: #3B5998;
}

.twitter-thumb, .twitter-screen {
    background: #9AE4E8;
}
.twitter-thumb:hover {
    color: #9AE4E8;
}

.paypal-thumb, .paypal-screen {
    background: #1e477a;
    color: #3b7bbf;
}
.paypal-thumb:hover {
    background: #3b7bbf;
    color: #1e477a;
}

.chat-thumb, .news-thumb, .calculator-thumb, .chat-screen, .news-screen, .calculator-screen {
    background: #EBB741;
}
.chat-thumb:hover, .news-thumb:hover, .calculator-thumb:hover {
    color: #EBB741;
}



/****TMO Style End****/

.weather-thumb {
    background: #F2854C;
}
.weather-thumb:hover {
    color: #F2854C;
}

.paint-thumb {
    background: #85A9C3;
}
.paint-thumb:hover {
    color: #85A9C3;
}

.cpanel-thumb {
    background: #83A8C3;
}
.cpanel-thumb:hover {
    color: #83A8C3;
}

.games-thumb {
    background: #04ACAD;
}
.games-thumb:hover {
    color: #04ACAD;
}

.videos-thumb, .code-thumb {
    background: #BEA881;
}
.videos-thumb:hover, .code-thumb:hover {
    color: #BEA881;
}

.lock-thumb, .alarm-thumb {
    background: #EF3A5B;
}
.lock-thumb:hover, .alarm-thumb:hover {
    color: #EF3A5B;
}

.git-thumb, .favorites-thumb, .notes-thumb {
    background: #385E82;
}
.git-thumb:hover, .favorites-thumb:hover, .notes-thumb:hover {
    color: #385E82;
}

.calendar-thumb, .organizer-thumb {
    background: #8BBA30;
}
.calendar-thumb:hover, .organizer-thumb:hover {
    color: #8BBA30;
}

.photos-thumb {
    background: #BEA881;
}
.photos-thumb:hover {
    color: #BEA881;
}

.compass-thumb {
    background: #BEA881;
}
.compass-thumb:hover {
    color: #BEA881;
}

.info-thumb {
    background: #385E82;
}
.info-thumb:hover {
    color: #385E82;
}

.todos-thumb {
    background: #2FB1BE;
}
.todos-thumb:hover {
    color: #2FB1BE;
}

.todos-thumb p {
    margin-top: .8em;
}
.todos-thumb-span {
    display: block;
    margin-top: 1.5em;
}
.todos-thumb:hover p {
    margin-top: -2.7em;
}

/*styling log in screen*/

.login-screen {
    background: #EF3A5B;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: -150%;
    color: white;
    text-align: center;
    font-weight: 300;
    z-index: 1;
}
.login-screen p {
    font-size: 6em;
    margin-top: 2em;
    font-weight: 100;
}
.myform {
    margin: 0.32em auto;
    width: 300px;
}

input {
    display: block;
    line-height: 40px;
    padding: 0 10px;
    margin: 0 0em 5px;
    width: 260px;
    height: 40px;
    float: left;
}

select {
    -moz-appearance: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0 0 0 0;
    display: block;
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 0 0em 5px;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    width: 260px;
    color: grey;
}

#unlock-button, .username {
    background: black;
    color: white;
    font-size: 1em;
    float: left;
    border: 0;
    height: 2.5em;
    width: 2.5em;
    padding: .3125em;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
}
.button {
    background: black;
    color: white;
    font-size: 0.5em;
    float: left;
    border: 0;
    height: 2em;
    padding: .3125em;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
}

/*styling the pages*/
.page-store.random-page {
    background: #DFD4C1;
}
.page-store.todos {
    background: #2FB1BE;
}

.todos ul {
    margin: 50px auto;
    width: 60%;
    list-style-type: none;
}

.todos li {
    padding: 5px 10px;
    text-align: left;
    background: white;
    border-left: 5px solid #EF3A5B;
    color: #444;
    font-weight: 300;
    font-size: 0.5em;
    margin-bottom: 15px;
}

.todos li:hover {
    background: #B7D6E7;
    cursor:pointer;
}
.delete-button {
    font-size: 0.7em;
    float: right;
    line-height: 25px;
}



/*======================= media queries =======================*/


@media screen and (min-width: 1em) and (max-width: 22em) {/*192px base 16px*/
    .col1, .col2, .col3 , .col{
        float: left;
        margin-right: 1%;
    }
    .logo {
        height: 5.5em;
        margin-left: 1%;
        float: left;
        padding-right: 0.7%;
    }

    .big, .small {
        font-size: 0.68em;
        font-weight: normal;
    }
    .page-title {
        font-size: 1.4em;
    }
    body {
        font-size: 10px;
    }
    #registration-form {
        margin: 0.32em auto;
        width: 8.75em;
    }

    .close-button {0.5em;
    }
    .white {
        font-size: 1em;
    }
        [role="support_info"] {
            width: 30%;
            margin-left: 0;
            float: none;
            padding: 0 15px;
        }
}



    @media screen and (min-width: 22em) {/*352px*/
        .col1, .col2, .col3, .col {
            float: left;
            margin-right: 1%;
            width: 49%;
        }
        .logo {
            height: 3.5em;
            margin-left: 1%;
        }

        .big, .small {
            font-size: 1.538em;
            font-weight: normal;
        }

        .page-title {
            font-size: 2em;
        }
        body {
            font-size: 11px;
        }

    

        .close-button {
            0.7em;
        }
    }


@media screen and (min-width: 43.75em) {/*700px*/
    .col1, .col2, .col3 , .col{
        float: left;
        margin-right: 1%;
        width: 49%;
    }
    .logo {
        height: 7.5em;
        margin-left: 1%;
    }

    .big, .small {
        font-size: 1.91em;
    }
    .page-title {
        font-size: 2.5em;
    }
    body {
        font-size: 14px;
    }
        [role="support_info"] {
            width: 30%;
            margin-left: 0;
            float: right;
            padding: 0 15px;
        }
}


    @media screen and (min-width: 64.063em) {
        .col1, .col2, .col3, .col {
            float: left;
            margin-right: .5%;
            width: 32%;
        }
        .col3 {
            margin-right: 0;
        }
        .col1 {
            margin-left: 2em;
        }
        .logo {
            height: 7.5em;
            margin-left: 2em;
        }
        .big, .small {
            font-size: 1.91em;
        }
        .page-title {
            font-size: 1.91em;
        }
        body {
            font-size: 16px;
        }
        [role="support_info"] {
            width: 30%;
            margin-left: 0;
            float: right;
            padding: 0 15px;
        }
    }

/*Page specific*/
.store_options {
    width:80%;
    
}
.store_options div {
    width:80%/4;
    float:left;
}
/*Special objects*/
.own_check {
    width: 2em;
}
.scroll_value {
    width: 5em;
    margin: 0;
    height: 40px;
    display: block;
}
.measurements_container {
    -moz-column-count: 3; /* Firefox */
    -webkit-column-count: 3; /* Safari and Chrome */
    column-count: 3;
    -moz-column-width: 5em; /* Firefox */
    -webkit-column-width: 5em; /* Safari and Chrome */
    column-width: 5em;
}
.measure_ruler {
    margin-left: 2em;
}
.ruler_frame_mask {
    height: 40px;
    width: 100px;
    overflow: hidden;
    margin-bottom: 6px;
}
.ruler_frame {
    width: 100px;
    overflow-x: scroll;
    height: 55px;
}
.ruler_skin {
    background: url("../../images/ruler_base.jpg");
    background-repeat: repeat;
    background-size: 719px;
    width: 600px;
    height: 40px;
}
.ruler_skin_inch {
    background-position: -30px -48px;
}
.message_container {
    background-color: #C3C3C3;
    opacity: 0.7;
    float:left;
}
.scroll_value_overlay_inch {
    top: -70px;
}
.scroll_value_overlay_cm {
    top: -51px;
}
.scroll_value_overlay {
    background-color: transparent;
    /*    position:relative;*/
    font-size: 0.6em;
}
.user_info {
    float: right;
    width:7em;
}

.white {
    color: white;
}

.ui-widget-content {
    background-color: transparent;
}

.thumb {
    width:70%;
    text-align:left;
}

.search {
margin-left: auto;
margin-right:auto;
}

/* Facebook style offcanvas*/
.metro-sidebar{
    width:30%;
    height:100%;
    padding-top:0px;
    background-color: black;
}
.nav-bar {
    background-color: black;
    color: white;
    bottom: 0;
    width: 100%;
    z-index: 3;
}  
.sidebar-button{
    font-size:1em;
    margin-left:0.3em;
    float:left;
}
.menu{
    background:black;
    text-align:left;
}
