R<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <title></title>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />
        <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>

        <!-- User-generated css -->
        <style>
        </style>
        <!-- User-generated js -->
        <script>
            try {

                $(function() {

                });

            } catch (error) {
                console.error("Your javascript has an error: " + error);
            }
        </script>
    </head>
    <body>
        <!-- Home -->
        <div data-role="page" id="page1">
            <div data-role="content">
                <div style="">
                    <img style="width: 100%; height: 100%" src="/storefront/resources/img/slider/banner1.jpg" />
                </div>
                <div style="">
                    <img style="width: 100%; height: 100%" src="/storefront/resources/images/home/h2.jpg" />
                </div>
                <div data-role="navbar" data-iconpos="top">
                    <ul>
                        <li>
                            <a href="/storefront/custom" data-transition="fade" data-theme="a" data-icon="grid"> Design </a>
                        </li>
                        <li>
                            <a href="/storefront/business_to_business" data-transition="fade" data-theme="a" data-icon="gear"> Business </a>
                        </li>
                        <li>
                            <a href="/storefront/contact_us" data-transition="fade" data-theme="a" data-icon="check"> Contact Us </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
