@charset "UTF-8";

 @font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?56512334');
  src: url('../font/fontello.eot?56512334#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?56512334') format('woff'),
       url('../font/fontello.ttf?56512334') format('truetype'),
       url('../font/fontello.svg?56512334#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?56512334#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-windy-rain-inv:before { content: '\21'; } /* '!' */
.icon-snow-inv:before { content: '\22'; } /* '&quot;' */
.icon-snow-heavy-inv:before { content: '\23'; } /* '#' */
.icon-hail-inv:before { content: '\24'; } /* '$' */
.icon-paypal-1:before { content: '\e81e'; } /* '' */
.icon-clouds-inv:before { content: '\25'; } /* '%' */
.icon-compass:before { content: '\28'; } /* '(' */
.icon-na:before { content: '\29'; } /* ')' */
.icon-plus:before { content: '\2b'; } /* '+' */
.icon-minus:before { content: '\2d'; } /* '-' */
.icon-sun-inv:before { content: '\31'; } /* '1' */
.icon-moon-inv:before { content: '\32'; } /* '2' */
.icon-cloud-sun-inv:before { content: '\33'; } /* '3' */
.icon-cloud-moon-inv:before { content: '\34'; } /* '4' */
.icon-cloud-inv:before { content: '\35'; } /* '5' */
.icon-drizzle-inv:before { content: '\37'; } /* '7' */
.icon-rain-inv:before { content: '\38'; } /* '8' */
.icon-windy-inv:before { content: '\39'; } /* '9' */
.icon-info:before { content: '\2139'; } /* 'ℹ' */
.icon-plus-squared:before { content: '\229e'; } /* '⊞' */
.icon-minus-squared:before { content: '\229f'; } /* '⊟' */
.icon-home-1:before { content: '\e81b'; } /* '' */
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-star-empty:before { content: '\2606'; } /* '☆' */
.icon-menu:before { content: '\2630'; } /* '☰' */
.icon-heart-empty:before { content: '\2661'; } /* '♡' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-tools:before { content: '\2692'; } /* '⚒' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-cog-1:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\26a0'; } /* '⚠' */
.icon-attention-1:before { content: '\e807'; } /* '' */
.icon-cog-alt:before { content: '\26ef'; } /* '⛯' */
.icon-scissors:before { content: '\2702'; } /* '✂' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-edit:before { content: '\270d'; } /* '✍' */
.icon-pencil:before { content: '\270e'; } /* '✎' */
.icon-feather:before { content: '\2712'; } /* '✒' */
.icon-check:before { content: '\2713'; } /* '✓' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-cancel-circled:before { content: '\2716'; } /* '✖' */
.icon-cancel-squared:before { content: '\274e'; } /* '❎' */
.icon-help:before { content: '\2753'; } /* '❓' */
.icon-quote:before { content: '\275e'; } /* '❞' */
.icon-plus-circled:before { content: '\2795'; } /* '➕' */
.icon-minus-circled:before { content: '\2796'; } /* '➖' */
.icon-forward:before { content: '\27a6'; } /* '➦' */
.icon-ccw:before { content: '\27f2'; } /* '⟲' */
.icon-cw:before { content: '\27f3'; } /* '⟳' */
.icon-resize-horizontal-1:before { content: '\2b0d'; } /* '⬍' */
.icon-eject:before { content: '\2ecf'; } /* '⻏' */
.icon-list-add:before { content: '\e003'; } /* '' */
.icon-volume-off:before { content: '\e00c'; } /* '' */
.icon-params:before { content: '\e01f'; } /* '' */
.icon-text-width:before { content: '\e025'; } /* '' */
.icon-t-shirt:before { content: '\e027'; } /* '' */
.icon-tasks:before { content: '\e81d'; } /* '' */
.icon-resize-horizontal:before { content: '\e048'; } /* '' */
.icon-shuffle:before { content: '\e052'; } /* '' */
.icon-quote-1:before { content: '\e054'; } /* '' */
.icon-asl:before { content: '\e0ad'; } /* '' */
.icon-lightbulb:before { content: '\e0de'; } /* '' */
.icon-briefcase-1:before { content: '\e10d'; } /* '' */
.icon-user-add:before { content: '\e700'; } /* '' */
.icon-help-circled:before { content: '\e704'; } /* '' */
.icon-info-circled:before { content: '\e705'; } /* '' */
.icon-tag-1:before { content: '\e804'; } /* '' */
.icon-tag:before { content: '\e70c'; } /* '' */
.icon-tags:before { content: '\e70d'; } /* '' */
.icon-reply:before { content: '\e712'; } /* '' */
.icon-reply-all:before { content: '\e713'; } /* '' */
.icon-export:before { content: '\e715'; } /* '' */
.icon-vcard:before { content: '\e722'; } /* '' */
.icon-address:before { content: '\e723'; } /* '' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-trash:before { content: '\e729'; } /* '' */
.icon-trash-1:before { content: '\e806'; } /* '' */
.icon-archive:before { content: '\e738'; } /* '' */
.icon-rss:before { content: '\e73a'; } /* '' */
.icon-basket-1:before { content: '\e808'; } /* '' */
.icon-basket:before { content: '\e73d'; } /* '' */
.icon-basket-2:before { content: '\e80d'; } /* '' */
.icon-bucket:before { content: '\e756'; } /* '' */
.icon-thermometer:before { content: '\e757'; } /* '' */
.icon-down-open-big:before { content: '\e764'; } /* '' */
.icon-left-open-big:before { content: '\e765'; } /* '' */
.icon-right-open-big:before { content: '\e766'; } /* '' */
.icon-up-open-big:before { content: '\e767'; } /* '' */
.icon-network:before { content: '\e776'; } /* '' */
.icon-align-justify:before { content: '\e781'; } /* '' */
.icon-equalizer:before { content: '\e795'; } /* '' */
.icon-brush:before { content: '\e79a'; } /* '' */
.icon-brush-alt:before { content: '\e79b'; } /* '' */
.icon-traffic-cone:before { content: '\e7a3'; } /* '' */
.icon-basket-alt:before { content: '\e7ae'; } /* '' */
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-emo-wink:before { content: '\e801'; } /* '' */
.icon-emo-unhappy:before { content: '\e80f'; } /* '' */
.icon-emo-sleep:before { content: '\e810'; } /* '' */
.icon-emo-thumbsup:before { content: '\e814'; } /* '' */
.icon-emo-devil:before { content: '\e815'; } /* '' */
.icon-emo-surprised:before { content: '\e816'; } /* '' */
.icon-emo-tongue:before { content: '\e817'; } /* '' */
.icon-emo-coffee:before { content: '\e81a'; } /* '' */
.icon-emo-angry:before { content: '\e818'; } /* '' */
.icon-emo-squint:before { content: '\e811'; } /* '' */
.icon-credit-card-1:before { content: '\e81f'; } /* '' */
.icon-emo-laugh:before { content: '\e812'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-menu-1:before { content: '\f008'; } /* '' */
.icon-th-list:before { content: '\f009'; } /* '' */
.icon-th-thumb:before { content: '\f00a'; } /* '' */
.icon-th-thumb-empty:before { content: '\f00b'; } /* '' */
.icon-globe-1:before { content: '\f018'; } /* '' */
.icon-math:before { content: '\f01a'; } /* '' */
.icon-hash:before { content: '\f029'; } /* '' */
.icon-attach:before { content: '\f06a'; } /* '' */
.icon-lock-open-alt:before { content: '\f075'; } /* '' */
.icon-link:before { content: '\f07b'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-twitter-1:before { content: '\f099'; } /* '' */
.icon-facebook-1:before { content: '\f09a'; } /* '' */
.icon-certificate:before { content: '\f0a3'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin-1:before { content: '\f0e1'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-vimeo:before { content: '\f306'; } /* '' */
.icon-vimeo-circled:before { content: '\f307'; } /* '' */
.icon-facebook-squared-1:before { content: '\f308'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-linkedin-squared:before { content: '\e819'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-tumblr:before { content: '\f315'; } /* '' */
.icon-tumblr-circled:before { content: '\f316'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */
.icon-skype-circled:before { content: '\f33a'; } /* '' */
.icon-paypal:before { content: '\f342'; } /* '' */
.icon-lock-alt:before { content: '\f510'; } /* '' */
.icon-lock-2:before { content: '\f512'; } /* '' */
.icon-lock-open-2:before { content: '\f513'; } /* '' */
.icon-picture-1:before { content: '\e80b'; } /* '' */
.icon-picture:before { content: '🌄'; } /* '\1f304' */
.icon-globe:before { content: '🌎'; } /* '\1f30e' */
.icon-globe-alt:before { content: '🌐'; } /* '\1f310' */
.icon-leaf:before { content: '🍂'; } /* '\1f342' */
.icon-glass:before { content: '🍸'; } /* '\1f378' */
.icon-gift:before { content: '🎁'; } /* '\1f381' */
.icon-videocam:before { content: '🎥'; } /* '\1f3a5' */
.icon-video-1:before { content: '\e81c'; } /* '' */
.icon-video:before { content: '🎬'; } /* '\1f3ac' */
.icon-award:before { content: '🏉'; } /* '\1f3c9' */
.icon-thumbs-up:before { content: '👍'; } /* '\1f44d' */
.icon-thumbs-down:before { content: '👎'; } /* '\1f44e' */
.icon-user:before { content: '👤'; } /* '\1f464' */
.icon-user-1:before { content: '\e803'; } /* '' */
.icon-users-1:before { content: '\e802'; } /* '' */
.icon-users:before { content: '👥'; } /* '\1f465' */
.icon-lamp:before { content: '💡'; } /* '\1f4a1' */
.icon-credit-card:before { content: '💳'; } /* '\1f4b3' */
.icon-dollar:before { content: '💵'; } /* '\1f4b5' */
.icon-briefcase:before { content: '💼'; } /* '\1f4bc' */
.icon-bookmarks:before { content: '📑'; } /* '\1f4d1' */
.icon-book:before { content: '📕'; } /* '\1f4d5' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */
.icon-megaphone:before { content: '📣'; } /* '\1f4e3' */
.icon-megaphone-1:before { content: '\e80c'; } /* '' */
.icon-camera:before { content: '📷'; } /* '\1f4f7' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-key:before { content: '🔑'; } /* '\1f511' */
.icon-lock-1:before { content: '\e809'; } /* '' */
.icon-lock:before { content: '🔒'; } /* '\1f512' */
.icon-lock-open:before { content: '🔓'; } /* '\1f513' */
.icon-lock-open-1:before { content: '\e80a'; } /* '' */
.icon-bookmark-1:before { content: '\e80e'; } /* '' */
.icon-bookmark:before { content: '🔖'; } /* '\1f516' */
.icon-link-1:before { content: '🔗'; } /* '\1f517' */
.icon-truck:before { content: '🚚'; } /* '\1f69a' */
.icon-block:before { content: '🚫'; } /* '\1f6ab' */