<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <!--[if IE]><script type="text/javascript" src="resources/inc/excanvas.js"></script><![endif]-->

        #parse("meta.vm")
        <script >
            $(document).ready(function() {
                var pattern = GetURLParameter('pattern');
                var shirt_json = {};
                var shirtId = GetURLParameter('shirtId');
                if ($.tmo && ($.tmo.design || $.tmo.toolbox)) {
                } else {
                    $.tmo.design = {};
                    $.tmo.ajaxloading = {};
                    $.tmo.data = {};
                    $.tmo.ajaxloading.key = 0;
                    $.tmo.design.page_number = 0;
                    $.tmo.toolbox = {};
                    $.tmo.toolbox.filter = 'all';
                    $.tmo.design.history = {};
                    $.tmo.design.history.maps = [];
                    $.tmo.design.mode = "new";

                    $.original = {
                        "fabrics" : 52,
                        "shirt_type" : 230,
                        "cuff" : 49,
                        "cuff_outer" : 52,
                        "cuff_inner" : 52,
                        "collar_outer" : 52,
                        "collar_inner" : 52,
                        "bottom_cuts" : 12,
                        "collar" : 34,
                        "shirt_sleeve" : 236,
                        "pocket" : 214,
                        "buttons" : 17,
                        "fastening" : 209,
                        "button_thread" : 248,
                        "long_sleeve" : 9999,
                        "tie_fix" : 0,
                        "handkerchief" : 0
                    };
                    $.tmo.design.map = $.original;
                }

                // Getting default values
                $(document).bind('reset_model', function() {
                    $(".checked_extra").prop("checked", false);
                    loadServerResource("shirt/reference/54", "GET", "", function(results) {
                        $.tmo.design.map = JSON.parse(results.pattern_json);
                        $.tmo.design.map["cuff_outer"] = 54;
                        $.tmo.design.map["cuff_inner"] = 54;
                        $.tmo.design.map["collar_inner"] = 54;
                        $.tmo.design.map["collar_outer"] = 54;
                        $.tmo.design.map_default = JSON.parse(JSON.stringify($.tmo.design.map));
                    }).done(function() {
                        $(document).trigger("model_refresh");
                    })
                });

                $(document).bind('load_user_profile', function() {
                    var username = $("#uid").text();
                    var path = "measurement/user/" + username;
                    var options = "?measure_type=all" + "&measure_name=default";
                    path += options;
                    var method = "GET";
                    loadServerResource(path, method, JSON.stringify($.tmo.design.measurement), function(results) {
                    });
                });
                getMeasurementForUser($("#uid").text());
                try {
                   if ( typeof (pattern) !== 'undefined' && !pattern.isEmpty() && pattern.length >= 0) {
                        $.tmo.design.map = JSON.parse(decodeURIComponent(pattern));
                        if (!shirtId.isEmpty()) {
                            $.tmo.design.mode = "edit"
                            $.tmo.design.shirtId = shirtId;
                            $("#AddCart").text("Update Item in Cart");
                        }
                    } else {
                        $(document).trigger("reset_model");
                    }
                } catch(e) {
                    $(document).trigger("reset_model");
                }

                //  $.tmo.design.map = JSON.parse(JSON.stringify(original));
                // $(document).ajaxStart($.blockUI({
                // message : "loading...",
                //
                // onBlock : function() {
                // $(".blockPage").addClass("master_blockUI");
                //
                // }
                // })).ajaxStop($.unblockUI);

                $(document).bind('model_refresh', function() {
                    updateRender();
                    $(document).trigger("price_refresh");
                });
                shirt_json.style = 'Regular';
                // updateRender(shirt_json.style);

                // finished setup

                // start functions
                $("#proceed").click(function() {
                    $("#page").block({
                        message : "Saving selected measurements...",
                        css : {
                            border : 'none',
                            padding : '15px',
                            'font-size' : '20px',
                            backgroundColor : '#9A98A3',
                            '-webkit-border-radius' : '10px',
                            '-moz-border-radius' : '10px',
                            height : '22px',
                            left : '26px',
                            width : '50%',
                            opacity : .5,
                            color : '#FFFFFF',
                            padding : '1px'
                        },
                        overlayCSS : {
                            backgroundColor : '#fff'
                        }
                    });
                    saveMeasurement(function() {
                        if ($.tmo.design != null && $.tmo.design.dirty != null && $.tmo.design.dirty) {

                            $("#page").unblock();
                            $.tmo.design.dirty = false;
                            popupToSaveDesign("cartsummary");

                        } else {
                            window.location = "cartsummary?measurement=" + $.tmo.design.menu_name;
                        }
                    });
                    $(".checked_extra").click(function() {
                        if ($("#" + this.id).prop('checked')) {
                            $.tmo.design.map[this.id] = parseInt(this.value);
                        } else {
                            $.tmo.design.map[this.id] = 0;
                        }
                        $(document).trigger("price_refresh");

                    });

                });

                $("#save_measurement").click(function() {
                    saveMeasurement(handler);
                });

                $("#previous").click(function() {
                    $.tmo.design.page_number--;
                    if ($.tmo.design.page_number <= 0) {
                        $("#previous").hide();
                        $.tmo.design.page_number = 0;
                    }
                    //$(document).trigger($.tmo.design.menu_name + '_design_refresh');
                    ProcessFilter($.tmo.toolbox.filter);
                });
                $("#next").click(function() {
                    $.tmo.design.page_number++;
                    ProcessFilter($.tmo.toolbox.filter);
                    if ($.tmo.design.page_number > 0) {
                        $("#previous").show();
                    }
                    //$(document).trigger($.tmo.design.menu_name + '_design_refresh');
                });

                $("#reset").click(function() {
                    //alert("reset clicked");
                    // $("#cuff").attr("style", "color:white");
                    // $("#cuff").attr("href", "cuffs.php");
                    // reset();
                    // shirt_json.style = 'Regular';
                    // updateRender(shirt_json.style);
                    window.location = "custom";
                    // $(document).trigger("reset_model");
                    // $(document).trigger("reset_ui");

                });

                $(".menu").click(function() {
                    $.tmo.design.page_number = 0;
                    if ($(this).hasClass('clickable')) {
                        $.tmo.design.menu_name = $(this).attr("id");
                        // active to change the selected menu gif as an arrow
                        $(".menu").removeClass('active');
                        $(this).toggleClass('active');

                        if ($(this).hasClass('measure')) {
                            $(".design").removeClass("show");
                            $(".measure").addClass("show");
                            $('.f1').css('background-color', '#e3e3e3');
                            show_div(1);
                            // $("#f1").trigger('click');
                            // refresh Left
                            // refresh middle
                        } else {
                            $(".measure").removeClass("show");
                            $(".design").addClass("show");

                            // Show to show toolbox

                            // $(document)  .trigger($.tmo.design.menu_name + '_design_refresh');

                            $(document).trigger("reset_ui");
                            $(document).trigger("model_refresh");
                            $.tmo.toolbox.filter = 'all';
                        }
                        createOrRefreshToolBox($.tmo.design.menu_name);
                        $(".toolbox").removeClass('show');
                        $("." + $.tmo.design.menu_name).toggleClass('show');
                    }
                });

                $(document).bind("reset_ui", function() {
                    $(".measure_image").hide();
                });

                $('input[name=size_measure_best]:radio').change(function() {

                    $('.best_cm_in').html(this.value);
                    if (this.value == "cm") {
                        $('.best_checkcm').prop('checked', true);
                    } else {
                        $('.best_checkinch').prop('checked', true);
                    }
                });

                $('input[name=size_measure_own]:radio').change(function() {

                    $('.own_cm_in').html(this.value);
                    if (this.value == "cm") {
                        $('.own_checkcm').prop('checked', true);
                    } else {
                        $('.own_checkinch').prop('checked', true);
                    }
                });

                $('.own_cm_in').html("cm");
                $('.best_cm_in').html("cm");
                $('#revert_item_selection').click(function() {
                    revertSelection();
                });

                $('.filter').change(function() {
                    ItemTypeFilter($(this).val());
                });

                // the tool tip control

                $(".owltip").qtip({
                    content : {
                        text : function(api) {
                            // Retrieve content from custom attribute of the $('.selector') elements.
                            return $(this).attr('qtip-content');
                        }
                    },
                    position : {
                        my : "left bottom", // Use the corner...
                        at : "right middle", // ...and opposite corner
                        target : $("#owl")
                    },
                    show : {
                        event : 'click mouseenter',
                        solo : true
                    },
                    hide : {
                        event : 'unfocus',
                        delay : 1000
                    },
                    style : {
                        classes : "qtip-shadow qtip-dark "
                    }
                });
                if ($.tmo.design.history.maps.length == 0) {
                    $('#revert_item_selection').hide();
                } else {
                    $('#revert_item_selection').show();
                }

                //ADMIN Functions

                $("#design_load").click(function() {
                    $(document).trigger('admin_loading');

                    try {
                        $.tmo.design.map = JSON.parse($("#customer_design").val());
                    } catch (e) {
                        alert("Error Input Customer Design JSON. Please get it from system log.");
                    }
                    $(document).trigger("model_refresh");
                    $(document).trigger('admin_loading_done');

                });
                $("#design_add").click(function() {
                    $(document).trigger('admin_loading');

                    try {
                        addingItemToCart(null, $('#wrapper'), {
                            "params" : "?username=" + $("#user_select").val()
                        });
                    } catch (e) {
                        alert("Error Input Customer Design JSON. Please get it from system log.");
                    }
                    $(document).trigger("model_refresh");
                    $(document).trigger('admin_loading_done');

                });

            });

            function getMeasurementForUser(username) {
                try {
                    if (username == 'undefined' || username.isEmpty()) {

                    } else {

                        $('.measure_toolbox').block({
                            message : "retrieving measurements...",
                            css : {
                                border : 'none',
                                padding : '15px',
                                'font-size' : '12px',
                                backgroundColor : '#9A98A3',
                                '-webkit-border-radius' : '10px',
                                '-moz-border-radius' : '10px',
                                height : '22px',
                                left : '26px',
                                width : '50%',
                                opacity : .5,
                                color : '#FFFFFF',
                                padding : '1px'
                            },
                            overlayCSS : {
                                backgroundColor : '#fff'
                            }
                        });

                        var path = "measurement/user/" + username + "?measure_type=all&measure_name=default";
                        var method = "GET";
                        loadServerResource(path, method, '', function(result) {
                            $('.measure_toolbox').unblock();
                            if (!result) {
                                return;
                            }
                            $('#size_measure1').val(result.standard_size);
                            $('#best_collar').val(result.best_collar);
                            $('#best_chest').val(result.best_chest);
                            $('#best_waist').val(result.best_waist);
                            $('#best_length_to_waist').val(result.best_length_to_waist);
                            $('#best_width').val(result.best_width);
                            $('#best_shirt_length').val(result.best_shirt_length);
                            $('#best_shoulder_width').val(result.best_shoulder_width);
                            $('#best_long_uplen').val(result.best_long_uplen);
                            $('#best_long_lowlen').val(result.best_long_lowlen);
                            $('#best_short_uplen').val(result.best_short_uplen);
                            $('#best_short_lowlen').val(result.best_short_lowlen);
                            $('#best_cuff').val(result.best_cuff);
                            $('#best_sleeve_width').val(result.best_sleeve_width);
                            $('#best_short_opening').val(result.best_short_opening);
                            $('#own_neck').val(result.own_neck);
                            $('#own_chest').val(result.own_chest);
                            $('#own_len_chest').val(result.own_len_chest);
                            $('#own_waist').val(result.own_waist);
                            $('#own_len_waist').val(result.own_len_waist);
                            $('#own_shoulder_width').val(result.own_shoulder_width);
                            $('#own_seat').val(result.own_seat);
                            $('#own_len_seat').val(result.own_len_seat);
                            $('#own_shirt_len').val(result.own_shirt_len);
                            $('#own_arm_len').val(result.own_arm_len);
                            $('#own_short_len').val(result.own_short_len);
                            $('#own_wrist').val(result.own_wrist);
                            $('#own_biceps').val(result.own_biceps);
                            $('#own_armpit').val(result.own_armpit);
                            $('input:radio[name=size_measure_own]').filter('[value=' + result.size_measure_own + ']').attr('checked', true);
                            $('input:radio[name=size_measure_best]').filter('[value=' + result.size_measure_best + ']').attr('checked', true);
                        }, function() {
                            $('.measure_toolbox').unblock();
                        });
                    }
                } catch (err) {
                    //TODO: not always working
                }

            }

            function saveMeasurement(handler) {
                var username = $("#uid").text();
                $.tmo.design.measurement = {};
                $.tmo.design.measurement.selection = $.tmo.design.menu_name;
                $.tmo.design.measurement.measure_type = $.tmo.design.menu_name;
                $.tmo.design.measurement.standard_size = $('#size_measure1').val();
                $.tmo.design.measurement.best_collar = $('#best_collar').val();
                $.tmo.design.measurement.best_chest = $('#best_chest').val();
                $.tmo.design.measurement.best_waist = $('#best_waist').val();
                $.tmo.design.measurement.best_length_to_waist = $('#best_length_to_waist').val();
                $.tmo.design.measurement.best_width = $('#best_width').val();
                $.tmo.design.measurement.best_shirt_length = $('#best_shirt_length').val();
                $.tmo.design.measurement.best_shoulder_width = $('#best_shoulder_width').val();
                $.tmo.design.measurement.best_long_uplen = $('#best_long_uplen').val();
                $.tmo.design.measurement.best_long_lowlen = $('#best_long_lowlen').val();
                $.tmo.design.measurement.best_short_uplen = $('#best_short_uplen').val();
                $.tmo.design.measurement.best_short_lowlen = $('#best_short_lowlen').val();
                $.tmo.design.measurement.best_cuff = $('#best_cuff').val();
                $.tmo.design.measurement.best_sleeve_width = $('#best_sleeve_width').val();
                $.tmo.design.measurement.best_short_opening = $('#best_short_opening').val();
                $.tmo.design.measurement.own_neck = $('#own_neck').val();
                $.tmo.design.measurement.own_chest = $('#own_chest').val();
                $.tmo.design.measurement.own_len_chest = $('#own_len_chest').val();
                $.tmo.design.measurement.own_waist = $('#own_waist').val();
                $.tmo.design.measurement.own_len_waist = $('#own_len_waist').val();
                $.tmo.design.measurement.own_shoulder_width = $('#own_shoulder_width').val();
                $.tmo.design.measurement.own_seat = $('#own_seat').val();
                $.tmo.design.measurement.own_len_seat = $('#own_len_seat').val();
                $.tmo.design.measurement.own_shirt_len = $('#own_shirt_len').val();
                $.tmo.design.measurement.own_arm_len = $('#own_arm_len').val();
                $.tmo.design.measurement.own_short_len = $('#own_short_len').val();
                $.tmo.design.measurement.own_wrist = $('#own_wrist').val();
                $.tmo.design.measurement.own_biceps = $('#own_biceps').val();
                $.tmo.design.measurement.own_armpit = $('#own_armpit').val();
                $.tmo.design.measurement.size_measure_best = $("input[name=size_measure_best]:checked").val();
                $.tmo.design.measurement.size_measure_own = $("input[name=size_measure_own]:checked").val();

                var path = "measurement/user/" + username;
                var options = "?measure_type=" + $.tmo.design.measurement.measure_type + "&measure_name=default";
                path += options;
                var method = "PUT";

                if (username.length == 0) {
                    //TODO: save the measurement to Cart or  ask the user to login here.
                    window.location = "loginPage";
                    return;
                }

                loadServerResource(path, method, JSON.stringify($.tmo.design.measurement), handler);
            }

            function nocuff() {
                shirt_json.hasCuff = false;
                notify_shirt_ui();
            }

            function hascuff() {
                shirt_json.hasCuff = true;
                notify_shirt_ui();
            }

            function showshirt(fit) {
                shirt_json.style = fit;
                notify_shirt_ui();

                shirt_json.style = fit;
                updateRender(shirt_json.style);

            }

            function clearImages(layers) {
                $.each(layers, function(index, itemData) {
                    $('#lay' + itemData).attr('src', 'resources/img/transparent.png');
                });
            }

            function clearZoomImages(layers) {
                $.each(layers, function(index, itemData) {
                    $('#layZoom0' + itemData).attr('src', 'resources/img/transparent.png');
                });
            }

            function updateRender(style) {
                if ($.tmo.ajaxloading.updateShirt) {
                    $.tmo.ajaxloading.updateShirt.abort();
                }
                if ( typeof ($.tmo.design.map) === 'undefined' || typeof ($.tmo.design.menu_name) === 'undefined') {
                    return;
                }
                $('#loading').fadeIn('slow');
                var path = "shirt/options";
                var method = "GET";
                var data = "options=" + JSON.stringify($.tmo.design.map) + "&menu=" + $.tmo.design.menu_name;
                $.tmo.ajaxloading.updateShirt = loadServerResource(path, method, data, function(results) {
                    var data = results.attributes;
                    $('#loading').fadeOut('slow');

                    var layers = ['00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16'];
                    var layersZoom = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];
                    $.each(data, function(index, itemData) {
                        var layer_str = FormatNumberLength(data[index].layer, 2);
                        var layer = 'lay' + layer_str;
                        layers = jQuery.grep(layers, function(value) {
                            return value != layer_str;
                        });
                        if (data[index].path == '') {

                            $('.' + layer).attr('src', 'resources/img/transparent.png');

                        } else {
                            // (data[index].path);

                            $('#' + layer).attr('src', data[index].path);
                            // alert(layer+data[index].path) ;

                        }
                    });

                    clearImages(layers);
                    var zoom_data = results.zooms;
                    $.each(zoom_data, function(index, itemData) {
                        var zoom_str = zoom_data[index].layer;
                        var layerZoom = 'layZoom0' + zoom_str;
                        layersZoom = jQuery.grep(layersZoom, function(value) {
                            return value != zoom_str;
                         });
                        if (zoom_data[index].description.indexOf("ZoomIn") != -1) {
                            $('#zoomout').attr('src', zoom_data[index].description);
                        }
                        if (zoom_data[index].description == '') {

                            $('#' + layerZoom).attr('src', 'resources/img/transparent.png');

                        } else {
                            // (data[index].path);

                            $('#' + layerZoom).attr('src', zoom_data[index].description);
                            // alert(layer+data[index].path) ;

                        }
                    });
                    clearZoomImages(layersZoom);
                });
                // $("#test_result").append(JSON.stringify(results));

            }

        </script>
        <title>TMO.sg - Design</title>
    </head>

    <body>

        <div class="container" id="page">
            #parse("admin/header.vm") <!-- header -->

            <div class="container">
                <div id="content">
                    <div class="wrapper">
                        <div class="ribbon-wrapper-green">
                            <div class="ribbon-green">
                                Admin
                            </div>
                        </div>

                        <div class="container">
                            <!-- content -->
                            <div style="margin: 50px auto; border-top-width: 18px; padding-top: 33px; padding-left: 16px;">
                                <p>
                                    Customer Id:
                                </p>
                                <select id="user_select" class="shirt_options_select" >
                                    #foreach( $user in $users )
                                    <option value="$user.username" >$user.firstname $user.lastname ( $user.username)</option>
                                    #end
                                </select>
                                <p>
                                    Customer Design:
                                </p>
                                <textarea class="last" id="customer_design"  style="width:875px" rows="3" cols="50">
                                    
</textarea>
                                <input class="span-5 button submit-btn clickable" type="cancel" style="text-align:center;" id="design_load" value="Load Custom Design"/>
                                <input class="span-5 button submit-btn clickable" type="cancel" style="text-align:center;" id="design_add" value="Add Design to Customer's Cart"/>
                                <input class="span-5 button submit-btn hide" type="cancel" style="text-align:center;" id="create_invoice" value="Create Initial Order"/>

                            </div>

                        </div>
                    </div>

                    #parse("ruler_menu.vm")
                    <br clear="all" />
                    <table style="height:600px;">
                        <tbody>
                            <tr>
                                <td >
                                <div id="design_output">
                                    #parse("menu.vm")
                                    <div class="design show" style="width: 144px;">
                                        <br>
                                        A good fitting shirt is
                                        what every man should have to be ready for all occasions. A formal
                                        shirt for weddings, job interview, work in the office, or casual
                                        shirt for gatherings with friends.
                                        <br>
                                        <br>
                                        With
                                        TailorMeOnline, you design and create shirts that are uniquely yours.

                                    </div>
                                    <div id="design_measure_left" class="measure">
                                        #parse("own_measure_left.vm")
                                    </div>
                                </div>
                                <div id="helper" class="helper">
                                    <img id="owl" class="owl right" src="resources/images/lights.jpeg" alt="Owl says..." width="60" height="66" data-hasqtip="true" aria-describedby="qtip-0">
                                </div></td>
                                <td >
                                <div qtip-content="This button can Undo your last selection." style="float: right; position: relative; left: -21px; margin-top: 11px;z-index:999"  id="revert_item_selection" class="button owltip">
                                    <span  style="float:left" class="ui-icon ui-icon-arrowreturnthick-1-w"></span>
                                    <span style="position: relative; bottom: -3px;">Undo</span>
                                </div>
                                <div id="design_output_view" class="design show" style="width: 400px;"><img class="lay01"
                                    id="lay00" style="z-index: 0; position: absolute;"
                                    src="resources/img/transparent.png" /><img class="lay01" id="lay01"
                                    style="z-index: 1; position: absolute;"
                                    src="resources/img/transparent.png" /><img class="lay03" id="lay03"
                                    style="z-index: 2; position: absolute;"
                                    src="resources/img/transparent.png" /><img class="lay04" id="lay04"
                                    style="z-index: 3; position: absolute;"
                                    src="resources/img/transparent.png" /><img class="lay05" id="lay05"
                                    style="z-index: 4; position: absolute;"
                                    src="resources/img/transparent.png" /><img class="lay06" id="lay06"
                                    style="z-index: 5; position: absolute;"
                                    src="resources/img/transparent.png" /><img class="lay07" id="lay07"
                                    style="z-index: 6; position: absolute;"
                                    src="resources/img/transparent.png" /><img class="lay08" id="lay08"
                                    style="z-index: 7; position: absolute;"
                                    src="resources/img/transparent.png" /><img class="lay09" id="lay09"
                                    style="z-index: 8; position: absolute;"
                                    src="resources/img/transparent.png" /><img class="lay10" id="lay10"
                                    style="z-index: 9; position: absolute;"
                                    src="resources/img/transparent.png" /><img class="lay11"
                                    id="lay11" style="z-index: 10; position: absolute;"
                                    src="resources/img/transparent.png" /><img class="lay12"
                                    id="lay12" id="lay0" style="z-index: 11; position: absolute;"
                                    src="resources/img/transparent.png" /><img class="lay13"
                                    id="lay13" style="z-index: 12; position: absolute;"
                                    src="resources/img/transparent.png" /><img class="lay14"
                                    id="lay14" style="z-index: 13; position: absolute;"
                                    src="resources/img/transparent.png" /><img class="lay15"
                                    id="lay15" style="z-index: 14; position: absolute;"
                                    src="resources/img/transparent.png" /><img class="lay16"
                                    id="lay16" style="z-index: 15; position: absolute;"
                                    src="resources/img/transparent.png" />
                                </div>
                                <div id="loading" class="design show" style="display: none;" align="center">
                                    <small>Please
                                        wait while rendering...</small>
                                </div>
                                <div id="design_measure_middle" class="measure" style="width: 400px;">
                                    #parse("best_measure_middle.vm")
                                    #parse("standard_measure_middle.vm")
                                    #parse("own_measure_middle.vm")
                                </div></td>
                                <td>
                                <div id="design_window" >

                                    #parse("toolboxes.vm")

                                </div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- content -->
            </div>

            #parse("footer.vm")
        </div>
        <!-- page -->
    </body>
</html>