<!-- Drop Down Message Box -->
#parse("admin/message.vm")
#parse("admin/header_scripts.vm")

<!--  header -->
<script>
    $(document).ready(function() {
        // ADMIN Session
        $('#customer_id').keyup(function() {
            var customerId = $(this).val();
            $("#uid").text(customerId);
        });
        $('#customer_id').keyup(function() {
            var customerId = $(this).val();
            $("#uid").text(customerId);
        });
        $(document).bind('admin_loading', function() {
            $(".wrapper").block({
                message : "Please wait while performing Admin actions...",
                css : {
                    border : 'none',
                    padding : '15px',
                    'font-size' : '20px',
                    backgroundColor : '#9A98A3',
                    '-webkit-border-radius' : '10px',
                    '-moz-border-radius' : '10px',
                    height : '22px',
                    left : '26px',
                    width : '50%',
                    opacity : .5,
                    color : '#FFFFFF',
                    padding : '1px'
                },
                overlayCSS : {
                    backgroundColor : '#fff'
                }
            });
        });

        $(document).bind('admin_loading_done', function() {
            $(".wrapper").unblock();
        });
    });

</script>
<div id="header" style="">
    <div style=";padding:0px 0px 5px 10px;width:970px">
        #if ($no_logo == true)
        <div align="right" style="margin-top:-5px;padding-top:19px;margin-bottom: 3px;">
            #elseif ($no_logo != true)
            <a href="."><img style="margin-bottom:10px" src="resources/images/logo.jpg" border="0"></a>
            <div align="right" style="margin-top:-100px;margin-bottom: 3px;">
                #end
                <strong>Welcome to TMO</strong>
                <br />
                #if (!$authz.authenticated ||  !$authz.principal.username)

                <a href="register">Register</a>  |

                <div id="SignIn" class="clickable">
                    <a href="loginPage">Sign In</a>
                </div>
                #elseif ($authz.authenticated && $authz.principal.username)
                <span id="username">$!display </span><a href="profile" >Profile </a>
                <span class="hide" id="uid">$!authz.principal.username</span>
                <br />
                <a id="logout" href="j_spring_security_logout">Logout</a>
                <br />
                #end
                <div id="ShoppingCart" class="cart" style="height:20px">
                    <p id="cart_summary" class="hide">
                        <a href="cartsummary">View Shopping Cart</a> |
                        #if ($authz.authenticated && $authz.principal.username)
                        <a class="clickable" id="clean_cart"> Reset Cart </a> |
                        #end
                        total $<span id="total_price_cart">0.00</span> (<span id="total_items_cart"></span> Items)
                    </p>
                </div>
            </div>
            <br clear="all">

            <div style="padding-top:5px;margin-bottom:2px;border-top:1px solid black">
                <ul class="navlist" style="text-transform:uppercase;">
                    <li>
                        <a href="#"></a><a href="home">Home</a>
                    </li>
                    <li>
                        <a href="custom">Design a shirt</a>
                    </li>
                    <li>
                        <a href="gallery">Gallery</a>
                    </li>

                    <li>
                        <a href="business_to_business">Business to Business</a>
                    </li>
                    <li>
                        <a href="contact_us">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
        #parse("admin/menu.vm")
        <div id='cookie_clean' style='display:none'>
            $!cookie_clean
        </div>

        <div id="dialog-confirm" class="hide" title="Add to cart" >
            <p>
                <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>Do you want to checkout?
            </p>
        </div>
        <div id="message-dialog" class="hide"></div>
        <canvas id="cart_img" style="width:450px;height:180px;display:none"></canvas>
        #parse("test.vm")
    </div>
    <!-- header -->
   