<div class="info message" >
	<h3>FYI, something just happened!</h3>
	<p>
		This is just an info notification message.
	</p>
</div>

<div class="error message">
	<h3>Ups, an error ocurred</h3>
	<p>
		This is just an error notification message.
	</p>
</div>

<div class="warning message">
	<h3>Wait, I must warn you!</h3>
	<p>
		This is just a warning notification message.
	</p>
</div>

<div class="success message">
	<h3>Congrats, you did it!</h3>
	<p>
		This is just a success notification message.
	</p>
</div>

<style>
	.message {
		background-size: 40px 40px;
		background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
		transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
		transparent 75%, transparent);
		box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
		width: 100%;
		border: 1px solid;
		color: #fff;
		padding: 15px;
		position: fixed;
		_position: absolute;
		text-shadow: 0 1px 0 rgba(0,0,0,.5);
		animation: animate-bg 5s linear infinite;
		display:none;
		top: -73px;
		right: -32px;
	}

	.info {
		background-color: #4ea5cd;
		border-color: #3b8eb5;
	}

	.error {
		background-color: #de4343;
		border-color: #c43d3d;
	}

	.warning {
		background-color: #eaaf51;
		border-color: #d99a36;
	}

	.success {
		background-color: #61b832;
		border-color: #55a12c;
	}

	.message h3 {
		margin: 0 0 5px 0;
	}

	.message p {
		margin: 0;
	}

	@keyframes animate-bg {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -80px 0;
	}
	}
</style>
<script>
	var myMessages = {info:'info', warning:'warning', error:'error', success:'success'};
	function hideAllMessages() {
		$('.message').css('top', -($('.message').outerHeight()+15));
		$('.message').css('display', 'block');

	}

	function showMessage(type) {
		// $('.' + type + '-trigger').click(function() {
		hideAllMessages();
		$('.' + type).animate({
			top : "0"
		}, 500);
		// });
	}

	function showMessage(type, header, content) {
		$('.' + type).animate({
			top : "0"
		}, 500);
		$('.' + type + ' h3').text(header);
		$('.' + type + ' p').text(content);
		// alert(content);
		// .delay(1900, hideAllMessages());
	}


	$(document).ready(function() {
		// Initially, hide them all
		hideAllMessages();

		// // Show message
		// for (var i = 0; i < myMessages.length; i++) {
		// showMessage(myMessages[i]);
		// }

		// When message is clicked, hide it
		$('.message').click(function() {
			$(this).animate({
				top : -$(this).outerHeight()
			}, 500);
		});

	}); 
</script>