#parse("admin/generic_header.vm")

<script>
    $(document).ready(function() {
        var lastSel = 0;
        $("#list2").jqGrid({
            width : '900',
            height : '600',
            url : 'promotions',
            datatype : "json",
            jsonReader : {
                root : "rows",
                page : "page",
                total : "total",
                records : "records",
                repeatitems : false,
                id : "0"
            },
            onSelectRow : function(id) {
                if (id && id !== lastSel) {
                    jQuery('#list2').restoreRow(lastSel);
                    lastSel = id;
                }
                jQuery('#list2').editRow(id, true);
            },
            serializeGridData : function(postData) {
                return JSON.stringify(postData);
            },
            serializeRowData : function(postData) {
                return JSON.stringify(postData);
            },
            serializeDelData : function(postData) {
                return JSON.stringify(postData);
            },
            ajaxRowOptions : {
                contentType : "application/json",
                type : "POST"
            },

            colNames : ['id', 'Promo Type', 'Code', 'Target Email', 'Limits', 'Already Claimed', 'Discount(1=100%discount)'],
            colModel : [{
                name : 'id',
                index : 'id',
                width : 55

            }, {
                name : 'promo_type',
                index : 'promo_type',
                width : 55
            }, {
                name : 'code',
                index : 'code',
                editable : true,
                width : 90
            }, {
                name : 'target',
                index : 'target',
                editable : true,
                width : 100
            }, {
                name : 'limits',
                index : 'limits',
                editable : true,
                width : 80,
                align : "right"
            }, {
                name : 'claims',
                index : 'claims',
                editable : true,
                width : 80,
                align : "right"
            }, {
                name : 'discount',
                index : 'discount',
                editable : true,
                width : 80,
                align : "right"
            }],
            rowNum : 500,
            rowList : [100, 300, 500],
            pager : '#pager2',
            viewrecords : true,
            caption : "Promotion Table"
        });
        var parameters = {
            edit : true,
            editicon : "ui-icon-pencil",
            add : true,
            addicon : "ui-icon-plus",
            save : true,
            saveicon : "ui-icon-disk",
            cancel : true,
            cancelicon : "ui-icon-cancel",
            addParams : {
                useFormatter : false,
                rowID : "-1"
            },
            editParams : {
                "url" : "promotion",
                "mtype" : "POST",
                "datatype" : "json",
                "aftersavefunc" : function() {
                    $('#list2').trigger("reloadGrid");
                }
            }
        }
        $("#list2").jqGrid('navGrid', '#pager2', {
            edit : false,
            add : false,
            del : true,
            delfunc : function(id) {
                $("#list2").jqGrid("delGridRow", id, {
                    url : 'promotion/' + id,
                    mtype : 'DELETE',
                    ajaxDelOptions : {
                        contentType : "application/json",
                        type : "DELETE"
                    },
                    contentType : "application/json"
                })
            }
        });
        $("#list2").inlineNav('#pager2', parameters);
    }); 
</script>
<!-- content -->
<div style="margin: 50px auto; border-top-width: 18px; padding-top: 33px; padding-left: 16px;">
    <table id="list2" ></table>
    <div id="pager2"></div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
#parse("admin/generic_footer.vm") 