<div id="restControl" class="span-5">
    <h4>Restful Control:</h4>
    <input type="text" id="url" class="span-5 last" value="Please enter url to post"/>
    <input type="text" id="method" class="span-5 last" value="Please enter method to send"/>
    <textarea type="text" rows="10" id="body" class="last" value="Please enter body to post">
    </textarea>
    <div class="button" id="sendrest"class="last" >Send Now!</div>
    <div id="restresult"></div>
</div>