<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        #parse("meta.vm")
        <script src="resources/jquery.ddslick.min.js"></script>
    </head>
    <body>

        <script>
            var original = {
                "fabrics" : 52,
                "shirt_type" : 230,
                "cuff" : 49,
                "cuff_outer" : 52,
                "cuff_inner" : 52,
                "collar_outer" : 52,
                "collar_inner" : 52,
                "bottom_cuts" : 12,
                "collar" : 34,
                "shirt_sleeve" : 236,
                "pocket" : 214,
                "buttons" : 19,
                "fastening" : 209,
                "button_thread" : 248,
                "long_sleeve" : 9999
            };
            $.tmo = $.tmo || {};
            $.tmo.design = {};
            $.tmo.ajaxloading = {};
            $.tmo.ajaxloading.key = 0;
            $.tmo.design.map = JSON.parse(JSON.stringify(original));

            $(document).ready(function() {
                var lastSel = 0;
                $("#list2").jqGrid({
                    width : '900',
                    height : '600',
                    url : 'configs',
                    datatype : "json",
                    jsonReader : {
                        root : "rows",
                        page : "page",
                        total : "total",
                        records : "records",
                        repeatitems : false,
                        id : "0"
                    },
                    onSelectRow : function(id) {
                        if (id && id !== lastSel) {
                            jQuery('#list2').restoreRow(lastSel);
                            lastSel = id;
                        }
                        jQuery('#list2').editRow(id, true);
                    },
                    serializeGridData : function(postData) {
                        return JSON.stringify(postData);
                    },
                    serializeRowData : function(postData) {
                        return JSON.stringify(postData);
                    },
                    serializeDelData : function(postData) {
                        return JSON.stringify(postData);
                    },
                    ajaxRowOptions : {
                        contentType : "application/json",
                        type : "POST"
                    },

                    colNames : ['Id', 'Name', 'Value', 'Usage'],
                    colModel : [{
                        name : 'id',
                        index : 'id',
                        width : 55

                    }, {
                        name : 'config_name',
                        index : 'config_name',
                            editable : true,
                    width : 55
                    }, {
                        name : 'config_value',
                        index : 'config_value',
                        editable : true,
                        width : 90
                    }, {
                        name : 'config_usage',
                        index : 'config_usage',
                        editable : true,
                        width : 200
                    }],
                    rowNum : 500,
                    rowList : [500, 1000],
                    pager : '#pager2',
                    viewrecords : true,
                    caption : "System Configuration"
                });
                var parameters = {
                    edit : true,
                    editicon : "ui-icon-pencil",
                    add : true,
                    addicon : "ui-icon-plus",
                    save : true,
                    saveicon : "ui-icon-disk",
                    cancel : true,
                    cancelicon : "ui-icon-cancel",
                    addParams : {
                        useFormatter : false,
                        rowID : "-1"
                    },
                    editParams : {
                        "url" : "config",
                        "mtype" : "POST",
                        "datatype" : "json",
                        "aftersavefunc" : function() {
                            $('#list2').trigger("reloadGrid");
                        }
                    }
                }
                $("#list2").jqGrid('navGrid', '#pager2', {
                    edit : false,
                    add : false,
                    del : false
                });
                $("#list2").inlineNav('#pager2', parameters);
            });
        </script>

        <div class="container" id="page">

            #parse("admin/header.vm")
            <!-- header -->
            <div class="wrapper">
                <div class="ribbon-wrapper-green">
                    <div class="ribbon-green">
                        Admin
                    </div>
                </div>

                <div class="container">
                    <!-- content -->
                    <div style="margin: 50px auto; border-top-width: 18px; padding-top: 33px; padding-left: 16px;">
                        <table id="list2" ></table>
                        <div id="pager2"></div>
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>
            #parse("footer.vm")
        </div>

    </body>
</html>