<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        #parse("meta.vm")
    </head>
    <body>
        <script>
            $(document).ready(function() {
                var param_measurement = GetURLParameter('measurement');
                $('#measurement').val(param_measurement);
                $('.info_box').hide();
                $('.warning_box').hide();
                // $(".remove_cart_item").click();
                // $(".add_cart_item").click();

                $("#measurement_edit").click(function() {
                    window.location = "custom?ruler=measurements_5&menu=" + $("#measurement").val();
                });
                $("#pickup").click(function() {
                    if ($("#" + this.id).prop('checked')) {
                        //hideAddress();
                        $(".address").hide()
                    } else {
                        //$(".address").unblock();
                        $(".address").show();
                    }
                    updateShipping();
                });

                var depends = function() {
                    return !$("#pickup").is(':checked');
                };
                // MergeCart();
                $("#cartsummaryform").validate({
                    invalidHandler : function(e, validator) {
                        var errors = validator.numberOfInvalids();
                        if (errors) {
                            var message = errors == 1 ? 'You missed 1 field. It has been highlighted below' : 'You missed ' + errors + ' fields. They have been highlighted below';
                            $(".cart_summary").unblock();
                            $('.warning_box').show();
                            $('.warning_box').text(message);
                        } else {
                            $(".warning_box").hide();
                        }
                    },
                    errorClass : "inline-error",
                    rules : {
                        mailing_name : {
                            required : {
                                depends : depends
                            }
                        },
                        mailing_phone : {
                            required : {
                                depends : depends
                            }
                        },
                        mailing_address1 : {
                            required : {
                                depends : depends
                            }
                        },
                        mailing_city : {
                            required : {
                                depends : depends
                            }
                        },
                        mailing_state : {
                            required : {
                                depends : depends
                            }
                        },
                        mailing_postcode : {
                            required : {
                                depends : depends
                            }
                        },
                        mailing_country : {
                            required : {
                                depends : depends
                            }
                        },
                        // payment_option : {
                        // required : true
                        // },
                        promotion_code : {
                            remote : {
                                url : "promotion/checkvalid",
                                type : "get",
                                complete : function(data) {
                                    updatePromotionCode();
                                }
                            }
                        },
                        measurement : {
                            remote : "measurement/check/user/" + $("#uid").text()
                        }
                    },
                    messages : {
                        promotion_code : {
                            remote : "This promotion code is not valid. Please contact us for details.",
                            required : "Promotion code is require for this purchase."
                        },
                        measurement : {
                            remote : "The selected measurement type hasn't been setup yet. Please click Edit to create your measurement profile before proceed."
                        }
                    },
                    submitHandler : function(form) {
                        hasError = false;

                        //hasError = commonValidations();
                        if (!hasError) {

                            // $('.warning_box').css({
                            // display : "none"
                            // });
                            // $('.info_box').css({
                            // display : "none"
                            // });
                            // $('.registered').css({
                            // display : "none"
                            // });

                            //
                            // var user = {};
                            // user.username = $('#email').val();
                            // user.password = $('#reg_password').val();
                            // user.firstname = $('#first_name').val();
                            // user.lastname = $('#last_name').val();
                            // user.country = $('#country').val();
                            // user.phone = $('#phone').val();
                            // // user.signup = $('#newsletter').checked();
                            // // var formInput = $("form#form").serialize();
                            // var url = 'signup';
                            $(".cart_summary").block({
                                message : "Processing order...",
                                css : {
                                    border : 'none',
                                    padding : '15px',
                                    'font-size' : '20px',
                                    backgroundColor : '#9A98A3',
                                    '-webkit-border-radius' : '10px',
                                    '-moz-border-radius' : '10px',
                                    height : '22px',
                                    left : '26px',
                                    width : '50%',
                                    opacity : .5,
                                    color : '#FFFFFF',
                                    padding : '1px'
                                },
                                overlayCSS : {
                                    backgroundColor : '#fff'
                                },
                                onBlock : function() {
                                    $.tmo.isblock['cart'] = true;
                                },
                                onUnblock : function() {
                                    $.tmo.isblock['cart'] = false;
                                }
                            });
                            var orderdetails = {};
                            orderdetails.cart = $.tmo.cart;
                            var address_json = {};
                            address_json.mailing_name = $("#mailing_name").val();
                            address_json.mailing_phone = $("#mailing_phone").val();
                            address_json.mailing_address1 = $("#mailing_address1").val();
                            address_json.mailing_address2 = $("#mailing_address2").val();
                            address_json.mailing_city = $("#mailing_city").val();
                            address_json.mailing_state = $("#mailing_state").val();
                            address_json.mailing_postcode = $("#mailing_postcode").val();
                            address_json.mailing_country = $("#mailing_country").val();

                            // TODO: need to convert to address object later
                            orderdetails.address = JSON.stringify(address_json);
                            orderdetails.payment = $('input[name=payment_option]:checked').val();
                            orderdetails.promotion = $("#promotion_code").val();
                            orderdetails.measurement = $("#measurement").val();
                            orderdetails.storePickup = $("#pickup").is(":checked");
                            var return_url = document.URL.replace("cartsummary", "payment/paypalsubmit");
                            var failed_return_url = document.URL.replace("cartsummary", "cartsummary");
                            $('#paypal_return_url').val(return_url);
                            $('#paypal_failedreturn_url').val(failed_return_url);

                            loadServerResource("payment/order", "POST", JSON.stringify(orderdetails), function(data) {
                                // window.location.href = "payment";
                                var content = JSON.parse(data.content);

                                if (data.valid) {
                                    try {
                                        window['ga'].q.push(['_addTrans', content.invoice_number, // transaction ID - required
                                        'TMO Web Cart', // affiliation or store name
                                        $('#revenue').val(), // total - required; Shown as "Revenue" in the
                                        // Transactions report. Does not include Tax and Shipping.
                                        '0', // tax
                                        $('#paypal_shipping').val(), // shipping
                                        $("#mailing_city").val(), // city
                                        $("#mailing_state").val(), // state or province
                                        $("#mailing_country").val() // country
                                        ]);
                                        window['ga'].q.push(['_trackTrans']);

                                    } catch ( err) {

                                    }
                                    $('#paypal_return_url').val(function(i, val) {
                                        var urlarray = val.split("?");
                                        return urlarray[0] + (!urlarray[0] ? '' : '?invoice_number=') + content.invoice_number;
                                    });
                                    $("#invoice").val(content.invoice_number);
                                    if (content.discount !== null) {
                                        var discount = parseFloat(content.discount);
                                        $(".paypal_item_price").each(function(index, item) {
                                            var original_price = parseFloat($(item).val());
                                            var coupon_discount = discount;
                                            var new_price = original_price * (1 - coupon_discount);
                                            $(item).val(new_price.toFixed(2).toString());
                                        });
                                    }

                                    $('#PaypalCheckout').submit();

                                } else {
                                    $('.warning_box').show();
                                    $(".cart_summary").unblock();
                                    $('.warning_box').text(data.description);
                                }
                            }, function(data) {
                                $(".cart_summary").unblock();
                                $('.warning_box').show();
                                $('.warning_box').text("There is an error while processing your payment. Please contact us for more information.");

                            });
                            // }

                        }
                        return false;
                    }
                });
            });
            function edit_cart_item(item) {
                var shirtId = item.id.replace("edit_cart_item_", "");
                var pattern = "";
                loadServerResource("cart/item?shirt_id=" + shirtId, "GET", "", function(cart) {
                    //Successful
                    //set the new cart to current
                    $.each(cart.item, function(index, item) {
                        if (item.shirt.shirtId.toString() === shirtId) {
                            pattern = item.shirt.pattern_json;
                        }
                    });
                    window.location = "custom?pattern=" + pattern + "&shirtId=" + shirtId;
                    // location.reload();
                    //reloadCart();
                });
            }

            function remove_cart_item(item) {
                $(document).trigger("block_cart");
                // get the shirt Id
                var shirtId = item.id.replace("remove_cart_item_", "");
                //remove item from the cart
                loadServerResource("cart/item?shirt_id=" + shirtId, "DELETE", "", function(newCart) {
                    //Successful
                    //set the new cart to current
                    // location.reload();
                    reloadCart();
                });
            }

            function add_cart_item(item) {
                $(document).trigger("block_cart");
                // get the shirt Id
                var shirtId = item.id.replace("add_cart_item_", "");
                //remove item from the cart
                loadServerResource("cart/item?shirt_id=" + shirtId, "POST", "", function(newCart) {
                    //Successful
                    //set the new cart to current
                    // location.reload();
                    reloadCart();
                });
            }

            function updateShipping() {
                $(document).trigger("block_cart");
                var shippingMethod = "default";
                if ($("#pickup").is(":checked")) {
                    shippingMethod = $("#pickup").val();
                }
                loadServerResource("cart/shipping?method=" + shippingMethod, "PUT", "", function(newCart) {
                    //Successful
                    //set the new cart to current
                    // location.reload();
                    reloadCart();
                });
            }

            function updatePromotionCode() {
                $(document).trigger("block_cart");
                if (!$("#promotion_code").val().isEmpty()) {
                    var promotion_code = $("#promotion_code").val();
                    loadServerResource("cart/promotion?promotion_code=" + promotion_code, "PUT", "", function(newCart) {
                        reloadCart();
                    });
                }
            }

        

            function hideAddress() {
                $(".address").block({
                    message : "<p></p>",
                    css : {
                        border : 'none',
                        'font-size' : '12px',
                        backgroundColor : '#9A98A3',
                        '-webkit-border-radius' : '10px',
                        '-moz-border-radius' : '10px',
                        height : '100%',
                        width : '90%',
                        'left' : '0px',
                        "text-align" : "center",
                        opacity : .5,
                        color : '#FFFFFF',
                        padding : '1px',
                        'z-index' : '1000'
                    },
                    overlayCSS : {
                        width : '90%',
                        left : '0px'
                    }
                });
            }
        </script>
        <div class="container showgrid" id="page">
            #parse("header.vm")
            #parse("ruler_menu.vm")
            <br clear="all" />
            <div class="container cart_summary" id="cart_summary">
                <div class="warning_box" style="border-style: solid; border-color: red; margin-left: 12px; margin-top: 20px; display: block; border-width: 3px 1px 3px 3px; padding: 10px 11px 10px 10px; margin-right: 28px;"></div>
                <form id="cartsummaryform" name="cartsummaryform">
                    <fieldset class="cart">

                        <legend class="cart_legend order_group ">
                            Order Summary
                        </legend>
                        #parse("order_summary_template.vm")
                    </fieldset>
                    <fieldset>
                        <legend class="cart_legend order_group">
                            Measurements
                        </legend>
                        <div class="span-10">
                            <p style="margin-top: 20px;">
                                <span>Please use my measurement:</span>
                                <select id="measurement" name="measurement">
                                    <option value="standardmeasure">Standard Size</option>
                                    <option value="bestmeasure">Best Fitting Shirt</option>
                                    <option value="ownmeasure">Own Body Measurement</option>
                                    <option value="tmomeasure">Measurements saved with TMO</option>
                                </select>
                                <span style="padding-left:8px;"><a id="measurement_edit" href="#">edit</a></span>
                            </p>
                            <br/>
                        </div>

                    </fieldset>
                    <!-- 	<fieldset>
                    <legend class="button order_group">
                    Payment Method
                    </legend>
                    <input type="radio" name="group1" value="visa">
                    Visa
                    <br>
                    <input type="radio" name="group1" value="master" >
                    Master
                    <br>
                    <input type="radio" name="group1" value="paypal" checked>
                    Paypal
                    </fieldset> -->
                    <fieldset>
                        <legend class="cart_legend order_group">
                            Gift voucher
                        </legend>
                        #parse("voucher.vm")
                    </fieldset>
                    <fieldset>
                        <legend class="cart_legend order_group">
                            Shipping Address
                        </legend>
                        <p>
                            <input type="checkbox" id="pickup" name="pickup" value="pickup_from_shop">
                            Pick up from Store
                        </p>
                        #parse("address.vm")
                    </fieldset>
                    <!-- <fieldset>
                    <legend class="button order_group">
                    Shipment Methods
                    </legend>
                    <input type="radio" name="group1" value="ups" checked>
                    UPS
                    <br>
                    <input type="radio" name="group1" value="fedex" >
                    Fedex
                    <br>

                    </fieldset> -->

                    <!--   <fieldset>
                    <legend class="cart_legend order_group">
                    Payment
                    </legend>
                    <div style="margin-bottom: 16px; margin-top: 16px;">
                    <div class="span-5" name="payment_option">
                    <input type="radio" name="payment_option" value="Paypal">
                    <div id="PayPalCheckout_option" class="button">
                    Pay By (PayPal)
                    </div>
                    </div>
                    <div class="span-17 last">
                    <input id="tester" type="radio" name="payment_option" value="Tester">
                    <div id="invoice_payment"  class="button" type="submit" >
                    Promotion Purchase
                    </div>
                    </div>

                    </div>

                    </fieldset> -->
                    <div class="shippingDate">
                        <span>Note: Your shirt(s) will arrive approximately by $date.format('MMMM-dd-yyyy', $shipping_date)</span>
                    </div>
                    <div class="actions">
                        <input id="PayNow" style="margin-left:800px;font-size:20px" class=" button submit-btn clickable" type="submit" value="Pay Now"/>
                    </div>
                </form>
                <form id="PaypalCheckout" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_cart">
                    <input type="hidden" name="upload" value="1">
                    <input type="hidden" name="business" value=$paypal_account>
                    <input id="invoice" type="hidden" name="invoice" value="">
                    #set($count = 0)
                    #foreach( $item in $cart.item )
                    #set($count = $count + 1)

                    <input id="paypal_shirt_name_$item.shirt.shirtId" type="hidden" name="item_name_$count" value="$!item.name">
                    <input id="paypal_shirt_number_$item.shirt.shirtId" type="hidden" name="item_number_$count" value="$!item.name">
                    <input id="paypal_shirt_price_$item.shirt.shirtId" type="hidden" class="paypal_item_price" name="amount_$count" value="$item.price">
                    <input id="paypal_quantity_$item.shirt.shirtId" type="hidden" name="quantity_$count" value="$item.quantity">
                    #end
                    <input id="paypal_shipping" type="hidden" name="shipping_1" value=$cart.shippingCost>
                    <input type="hidden" id="paypal_return_url" name="return" value=$returnUrl>
                    <input type="hidden" id="paypal_failedreturn_url" name="cancel_return" value=$cancelUrl>
                    <input type="hidden" name="currency_code" value=$currency>
                    <input id="PayPalCheckout_button" class="button clickable hide" type="submit" >
                </form>
            </div>

            #parse("footer.vm")
        </div>
    </body>
</html>