<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		#parse("meta.vm")
	</head>

	<body>
		<div class="container" id="page">
			#parse("header.vm")
			<!-- header -->

			<div class="container">
				<div id="content">

					<div id="normal_content" class="faq">

						<p>
							<br>
							<span class="title">FAQs</span>
						</p>
						<p class="bold">
							Our Fabrics
						</p>
						<p>
							Where do source your fabrics?
							<br>
							We source our fabrics from suppliers all over the world and, in particular, from Italy and Asia. Our stringent fabric selection process ensures that the best quality fabrics are selected to produce our custom-made shirts.
						</p>
						<p>
							How do I take care of my shirt?
							<br>
							All our shirts are machine washable in warm water.
						</p>
						<p>
							Will my shirt shrink after washing?
							<br>
							Our fabric are pre-washed to reduce shrinkage to the minimum. However, like any other cotton fabric garment, your shirts may shrink slightly after the first wash. However, please be assured that any shrinkage for our 100% cotton fabrics will be minimal and within 3% variation.
						</p>
						<p>
							Do you offer easy care/wrinkle-free shirts?
							<br>
							Yes, we do offer some easy care/wrinkle-free fabrics. Please refer to the various write-ups on the fabrics when selecting your fabric.
							<br>
						</p>
						<p class="bold">
							Shipping &amp; Payment
						</p>
						<p>
							Do you provide Paypal payment services?
							<br>
							Yes. Paying by PayPal is our preferred method of payment. It is safe and provides excellent protection for both the seller and buyer.
						</p>
						<p>
							Do you provide bank transfer payment method?
							<br>
							No, we only accept payment by PayPal or credit card.
						</p>
						<p>
							Do you accept cash on delivery?
							<br>
							No, we only accept payment by PayPal or credit card.
						</p>
						<p>
							What are the shipping costs incurred by customers?
							<br>
							You can find this information under our <a href="delivery_shipping.php">Delivery &amp; Shipping Info.</a>
						</p>
						<p>
							How long do I have to wait before I receive my order?
							<br>
							We endeavour to ensure that our customers receive their orders as quickly as possible. Our custom made shirts will normally be delivered within 15-20 business days. However, please note that we are unable to guarantee the delivery time.
						</p>
						<p>
							What is your privacy policy? Will my personal details be kept confidential? 
							<br>
							You can find this information under our <a href="terms_condition.php">Terms &amp; Conditions section.</a>
						</p>
						<p>
							How do I make a claim or return a product?
							<br>
							You can find this information under our <a href="terms_condition.php">Terms &amp; Condition section.</a>
						</p>
						<p>
							What is your refund policy?
							<br>
							You can find this information under our <a href="terms_condition.php">Terms &amp; Conditions section.</a>
							<br>
						</p>
						<p class="bold">
							Changes to orders
						</p>
						<p>
							How do I change details in an already placed order?
							<br>
							You can find this information under our <a href="terms_condition.php">Terms &amp; Conditions section.</a>
						</p>
						<p>
							Can I make changes to an order after it has been placed?
							<br>
							You can find this information under our <a href="terms_condition.php">Terms &amp; Conditions section.</a>
						</p>
						<p>
							Can I cancel my order?
							<br>
							You can find this information under our <a href="terms_condition.php">Terms &amp; Conditions section.</a>
						</p>
						<p>
							How do I change my delivery address?
							<br>
							You can change your delivery address by logging in to your registered account and clicking on ‘[My Profile / Edit Profile]’ to make your changes.
							<br>
						</p>
						<p class="bold">
							General
						</p>
						<p>
							Can I include more than one product in the same order?
							<br>
							Yes. After adding one item to your shopping cart, simply choose the option ’Design another’ to continue filling your shopping cart. When you are done, just click on the checkout button to proceed with payment.
						</p>
						<p>
							Why is customer service over the phone not offered?
							<br>
							As our name, TailorMeOnline, suggests, we are an online business and operate within the cyberspace so as to keep our fixed costs low and your custom made shirts affordable. Please be assured that as per our company policy, all enquiries sent to us will be answered within 2 business days.
						</p>
						<p>
							Do you offer short sleeves shirt?
							<br>
							Yes, there is an option to choose short sleeves for your shirt. You can find the option under the 'Design' option which is the first step of our design process. You may enter the sleeves length as per your own measurement in the measurements guide.
						</p>
						<p>
							Do I need to re-measure myself when I place a new order?
							<br>
							No, if you intend to place an order for a shirt with the same measurements which you provided previously. If you are a returning customer, your measurement profile would have been saved in our database. You can choose to recall your saved measurements or input new measurements
						</p>
						<p>
							How can I track the status of my order?
							<br>
							You can track the status of your order by emailing us at customerservice@tailormeonline.com.
						</p>
						<p>
							Do you provide made-to-measure shirts for ladies?
							<br>
							No. We do not provide made-to-measure shirts for ladies at the moment. However, we hope to provide this service in the near future. Do check back with us for updates!
						</p>
						<p>
							How do you maintain competitive prices for your shirts?
							<br>
							As we do not have any physical retail stores, we are able to avoid high fixed overhead costs and thereby transfer these significant cost savings to our customers.
						</p>
						<p>
							Why are there price differences between the two shirts that I ordered?
							<br>
							The cost of each custom-made shirt depends on the fabric, accessories and other design options selected. The various additional costs are clearly indicated on the fabrics, accessories and design options.
						</p>
						<p></p>
						<p>
							<br />
						</p>
					</div>
				</div>
				<!-- content -->
			</div>
			#parse("footer.vm")
		</div>
		<!-- page -->
	</body>
</html>