        <link rel="stylesheet" href="css/basic.css" type="text/css" />
		<link rel="stylesheet" href="resources/galleriffic-2.0/css/galleriffic-2.css" type="text/css" />
		<script type="text/javascript" src="resources/galleriffic-2.0/js/jquery.galleriffic.js"></script>
		<script type="text/javascript" src="resources/galleriffic-2.0/js/jquery.opacityrollover.js"></script>
