<div class="compartment2">
	<div class="title2">
		TOTAL COST <span style="float:right total" class="shirt_total">$</span>
	</div>
</div>
<div class="compartment" style="margin-top:-20px;font-size:13px;">
	<div class="title"></div>
	<br />
	<strong>MEASURE YOUR OWN BODY</strong>
	<br />
	<input type="radio" class="own_checkcm" name="size_measure_own" value="cm" checked="checked" />
	cm
	&nbsp;              &nbsp;              &nbsp;
	<input type="radio" class="own_checkinch" name="size_measure_own" value="inches" />
	inches
	<br />
	<br />
	<br />
	<table class="measure_right" style="width:360px;" cellspacing="4" cellspacing="5">
		<tr>
			<td>Neck</td>
			<td>
			<input id="own_neck" type="text" size="15"  value=""  class="gray2 f1" onclick="reset_input();; $('.f1').css('background-color','#e3e3e3');show_div(1)" />
			<span class="own_cm_in"><span></td>
		</tr>
		<tr>
			<td>Chest</td>
			<td>
			<input id="own_chest" type="text" size="15"  value=""  class="gray2 f2" onclick="reset_input();; $('.f2').css('background-color','#e3e3e3');show_div(2)" />
			<span class="own_cm_in"><span></td>
		</tr>
		<tr>
			<td>Length to Chest</td>
			<td>
			<input id="own_len_chest" type="text" size="15"  value=""  class="gray2 f3" onclick="reset_input();; $('.f3').css('background-color','#e3e3e3');show_div(3)" />
			<span class="own_cm_in"><span></td>
		</tr>
		<tr>
			<td>Waist</td>
			<td>
			<input id="own_waist" type="text" size="15"  value=""  class="gray2 f4" onclick="reset_input();; $('.f4').css('background-color','#e3e3e3');show_div(4)" />
			<span class="own_cm_in"><span></td>
		</tr>
		<tr>
			<td>Length to Waist</td>
			<td>
			<input id="own_len_waist" type="text" size="15"  value=""  class="gray2 f5" onclick="reset_input();; $('.f5').css('background-color','#e3e3e3');show_div(5)" />
			<span class="own_cm_in"><span></td>
		</tr>
		<tr>
			<td>Shoulder width</td>
			<td>
			<input id="own_shoulder_width" type="text" size="15"  value=""  class="gray2 f6" onclick="reset_input();; $('.f6').css('background-color','#e3e3e3');show_div(6)" />
			<span class="own_cm_in"><span></td>
		</tr>
		<tr>
			<td>Seat</td>
			<td>
			<input id="own_seat" type="text" size="15"  value=""  class="gray2 f7" onclick="reset_input();; $('.f7').css('background-color','#e3e3e3');show_div(7)" />
			<span class="own_cm_in"><span></td>
		</tr>
		<tr>
			<td>Length to Seat</td>
			<td>
			<input id="own_len_seat" type="text" size="15"  value=""  class="gray2 f8" onclick="reset_input();; $('.f8').css('background-color','#e3e3e3');show_div(8)" />
			<span class="own_cm_in"><span></td>
		</tr>
		<tr>
			<td>Shirt length</td>
			<td>
			<input id="own_shirt_len" type="text" size="15"  value=""  class="gray2 f9" onclick="reset_input();; $('.f9').css('background-color','#e3e3e3');show_div(9)" />
			<span class="own_cm_in"><span></td>
		</tr>
		<tr>
			<td>Arm length</td>
			<td>
			<input id="own_arm_len" type="text" size="15"  value=""  class="gray2 f10" onclick="reset_input();; $('.f10').css('background-color','#e3e3e3');show_div(10)" />
			<span class="own_cm_in"><span></td>
		</tr>
		<tr>
			<td>Short sleeve length</td>
			<td>
			<input id="own_short_len" type="text" size="15"  value=""  class="gray2 f11" onclick="reset_input();; $('.f11').css('background-color','#e3e3e3');show_div(11)" />
			<span class="own_cm_in"><span></td>
		</tr>
		<tr>
			<td>Wrist</td>
			<td>
			<input id="own_wrist" type="text" size="15"  value=""  class="gray2 f12" onclick="reset_input();; $('.f12').css('background-color','#e3e3e3');show_div(12)" />
			<span class="own_cm_in"><span></td>
		</tr>
		<tr>
			<td>Biceps</td>
			<td>
			<input id="own_biceps" type="text" size="15"  value=""  class="gray2 f13" onclick="reset_input();; $('.f13').css('background-color','#e3e3e3');show_div(13)" />
			<span class="own_cm_in"><span></td>
		</tr>
		<tr>
			<td>Armpit</td>
			<td>
			<input id="own_armpit" type="text" size="15"  value=""  class="gray2 f14" onclick="reset_input();; $('.f14').css('background-color','#e3e3e3');show_div(14)" />
			<span class="own_cm_in"><span></td>
		</tr>
	</table>
</div>
<script>
	function reset_input() {
		$('.gray2').css('background-color', '#c3c3c3');
	}

</script>
