<div id="ownmeasure_middle" class="measure_middle" style="width:380px;padding-right:20px;font-size:15px;">
	

	<div id="design_output" style="width:380px; padding-top:10px;padding-right:20px;font-size:15px;">
		<div id="d1" class="measure_image d1" style="display:none;"><img src="resources/images/measure_your_body/neck-01.jpg" width="380" />
		</div>
		<div id="d2" class="measure_image d2" style="display:none;"><img src="resources/images/measure_your_body/chest-01.jpg" width="380" />
		</div>
		<div id="d3" class="measure_image d3" style="display:none;"><img src="resources/images/measure_your_body/length-to-chest-01.jpg" width="380" />
		</div>
		<div id="d4" class="measure_image d4" style="display:none;"><img src="resources/images/measure_your_body/waist-01.jpg" width="380" />
		</div>
		<div id="d5" class="measure_image d5" style="display:none;"><img src="resources/images/measure_your_body/length-to-waist-01.jpg" width="380" />
		</div>
		<div id="d6" class="measure_image d6" style="display:none;"><img src="resources/images/measure_your_body/shoulder-01.jpg" width="380" />
		</div>
		<div id="d7" class="measure_image d7" style="display:none;"><img src="resources/images/measure_your_body/seat-01.jpg" width="380" />
		</div>
		<div id="d8" class="measure_image d8" style="display:none;"><img src="resources/images/measure_your_body/length-to-seat-01.jpg" width="380" />
		</div>
		<div id="d9" class="measure_image d9" style="display:none;"><img src="resources/images/measure_your_body/shirt-01.jpg" width="380" />
		</div>
		<div id="d10" class="measure_image d10" style="display:none;"><img src="resources/images/measure_your_body/arm-01.jpg" width="380" />
		</div>
		<div id="d11" class="measure_image d11" style="display:none;"><img src="resources/images/measure_your_body/short-sleeve-01.jpg" width="380" />
		</div>
		<div id="d12" class="measure_image d12" style="display:none;"><img src="resources/images/measure_your_body/wrist-01.jpg" width="380" />
		</div>
		<div id="d13" class="measure_image d13" style="display:none;"><img src="resources/images/measure_your_body/biceps-01.jpg" width="380" />
		</div>
		<div id="d14" class="measure_image d14" style="display:none;"><img src="resources/images/measure_your_body/armpit-01.jpg" width="380" />
		</div>
	</div>

</div>