<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		#parse("meta.vm")
	</head>
	<body>
		<script>
			$(document).ready(function() {

				$("#PayNow").click(function() {
					alert("hi");
					$("#PayPalCheckout_button").submit();
					window.location = "https://www.paypal.com/cgi-bin/webscr";
				});
			});
		</script>
		<div class="container showgrid" id="page">
			#parse("header.vm")
			#parse("ruler_menu.vm")
			<br clear="all" />
			<div style="border-top-width: 90px; border-bottom-width: 90px; margin-top: 19px; margin-bottom: 500px;">
			    Order receieved!
				<br/>
				We will confirm your payment and issue the invoice.
				<br /> 
				Please check your email for confirmation!
				<div class="invoice_view">
				#parse("template/invoice.vm")
				</div>
				<div class="payment_summary_contents">
					<a class="button" href="j_spring_security_logout">Log out</a>
					<a class="button" href="home">Home</a>
				</div>
			</div>
			#parse("footer.vm")
		</div>
	</body>
</html>