<div id='toolboxes'>
    <div class="compartment2" style="display: none;">
        <div id="design_cost" class="price title2" style="height: 26px;">
            <span style="float:left;position: relative; " > TOTAL COST </span>
            <span style="float: right; position: relative; " class="shirt_total last">$</span>

        </div>
        <div id="progress_bar"><div class="progress-label">Loading...</div></div>
        
        <div id="shirt_type_options">
            <div class="compartment" >
                <div class="title">
                    FIT
                </div>
                <ul class="cuff_height" style="padding-top: 8px;">
                    <li class="fitoption1" style="color: rgb(85, 85, 85);">
                        <input id="fitbutn1" type="radio"  value="Shirt Slim" name="shirtstyle">
                        Slim
                    </li>
                    <li class="fitoption2" style="color: rgb(85, 85, 85);">
                        <input id="fitbutn2" type="radio"  checked value="Shirt Regular" name="shirtstyle">
                        Regular
                    </li>
                </ul>
            </div>
        </div>
        <div id="personalize_options" class="owltip" qtip-content="We will choose the best location to place your personalized text." style="display:table-row">
            <div class="compartment" >
                <div class="title">
                    Embroidery
                </div>
                <div class="span-8 last">
                    <span class="span-2"> Fonts:</span>
                    <select class="span-3 last" id="fonts_option">
                        #foreach($font in $embroidery_fonts_value.split(","))
                        <option>$font</option>
                        #end
                    </select>
                </div>
                <div class="span-8 last">
                    <span class="span-2">Engrave:</span>
                    <input class="span-3 last" id="text_to_personalize" type="text"  value="" maxlength="3" name="shirtstyle">
                </div>
                <div class="span-8 last">
                    <span class="span-2"> Sample output: </span>
                    <span class="span-3 last SampleFontsOption owltip" qtip-content="Contact us if you need more three charaters." id="font_option_sample_output" style="font-size: xx-large; border: medium dashed lightslategrey; height: 39px; padding-left: 5px;"></span>
                </div>
            </div>
        </div>
        <div id="cuff_options">
            <div class="compartment">
                <div class="title">
                    PLACKET BUTTONS
                </div>
                <ul class="cuff_height">
                    <li class="liplackets1" style="color: rgb(85, 85, 85);">
                        <input id="placketsbutn1" type="radio" checked value="Placket selected Yes" name="placketsbutn">
                        Yes
                    </li>
                    <li class="liplackets2" style="color: rgb(85, 85, 85);">
                        <input id="placketsbutn2" type="radio"  value="Placket selected No" name="placketsbutn">
                        No
                    </li>
                </ul>
            </div>

           <!--  <div class="compartment">
                <div class="title">
                    CUFF STIFFNESS
                </div>
                <ul class="cuff_height">
                    <li class="listiffness1" style="color: rgb(85, 85, 85);">
                        <input id="stiffness1" type="radio"  value="Stiff Soft" name="stiffness">
                        Soft
                    </li>
                    <li class="listiffness2" style="color: rgb(85, 85, 85);">
                        <input id="stiffness2" type="radio"  checked value="Stiff Standard" name="stiffness">
                        Standard
                    </li>
                    <li class="listiffness3" style="color: rgb(85, 85, 85);">
                        <input id="stiffness3" type="radio"  value="Stiff Hard" name="stiffness">
                        Hard
                    </li>
                </ul>
            </div> -->
            <div class="compartment">
                <div class="title">
                    CUFF STYLE
                </div>
                <ul class="cuff_height">
                    <li class="listyle1" style="color: rgb(85, 85, 85);">
                        <input id="style1" checked type="radio"  value="Cuff Style selected Beveled" name="cuffstyle">
                        Beveled
                    </li>
                    <li class="listyle2" style="color: rgb(85, 85, 85);">
                        <input id="style2" type="radio"  value="Cuff Style selected Round" name="cuffstyle">
                        Round
                    </li>
                    <li class="listyle3" style="color: rgb(85, 85, 85);">
                        <input id="style3" type="radio" value="Cuff Style selected Straight" name="cuffstyle">
                        Straight
                    </li>
                </ul>
            </div>
        </div>
        <div id="toolbox_filter" class="compartment" >
            <div class="title" style="margin-bottom: 5px;"></div>
            <div id="filter_buttonWidget" class="buttonWidget">
                <select id='filter_colour_select' class="filter"></select>
                <select id='filter_type_select' class="filter"></select>

                <!-- <ol>
                <li>
                <a href="#" id="allfabrics">ALL FABRICS</a>
                </li>
                <li>
                <a href="#" id="plain">PLAIN</a>
                </li>
                <li>
                <a href="#" id="striped">STRIPPED</a>
                </li>
                <li>
                <a href="#" id="allpatterns">ALL PATTERNS</a>
                </li>
                <li>
                <a href="#" id="checkered">CHECKERED</a>
                </li>
                <li>
                <a href="#" id="print" onclick="loadPrint()">PRINT</a>
                </li>
                </ol> -->
            </div>
        </div>
        <div id="zoom" style="width: 360px; height: 210px;" class="cursor">
            <img class="lay00" id="layZoom00" style="z-index: 1; position: absolute;" src="resources/img/transparent.png" />
            <img class="lay01" id="layZoom01" style="z-index: 1; position: absolute;" src="resources/img/transparent.png" />
            <img class="lay03" id="layZoom02" style="z-index: 2; position: absolute;" src="resources/img/transparent.png" />
            <img class="lay04" id="layZoom03" style="z-index: 3; position: absolute;" src="resources/img/transparent.png" />
            <img class="lay05" id="layZoom04" style="z-index: 4; position: absolute;" src="resources/img/transparent.png" />
            <img class="lay06" id="layZoom05" style="z-index: 5; position: absolute;" src="resources/img/transparent.png" />
            <img class="lay07" id="layZoom06" style="z-index: 6; position: absolute;" src="resources/img/transparent.png" />
            <img class="lay08" id="layZoom07" style="z-index: 7; position: absolute;" src="resources/img/transparent.png" />
            <img class="lay09" id="layZoom08" style="z-index: 8; position: absolute;" src="resources/img/transparent.png" />
            <img class="lay10" id="layZoom09" style="z-index: 9; position: absolute;" src="resources/img/transparent.png" />
            <img class="" style="height: 210px; position: absolute;" src="resources/images/frame.png" />
        </div>
        <div id="design_page" style="clear:both;margin-top: 12px; clear: both; padding-top: 12px; padding-left: 14px;">
            <span id="previous" class='clickable' style='padding-right: 15px;'>&#60;&#60; previous</span>
            <span id="next" class='clickable'>next >> </span>
        </div>
        <div id="cart_buttonWidget" class="buttonWidget" >
            <ol class="actions">
                <li class="button clickable" id="reset" >
                    Reset Sample
                </li>
                <li id="details"  class="button clickable">
                    Details
                </li>
                <li  class="button clickable" id="AddCart">
                    Add to cart
                </li>

            </ol>
        </div>
        #parse("measure_widget.vm")
    </div>
    <div id="add_on_toolbox" class="add_on preset_toolbox options_toolbox toolbox" >
        #parse("add_on.vm")
    </div>
    <div id="standardmeasure_toolbox" class="standardmeasure measure_toolbox preset_toolbox toolbox" >
        #parse("standard_measure.vm")
    </div>
    <div id="bestmeasure_toolbox" class="bestmeasure measure_toolbox preset_toolbox toolbox" >
        #parse("best_measure.vm")
    </div>
    <div id="ownmeasure_toolbox" class="ownmeasure measure_toolbox preset_toolbox toolbox" >
        #parse("own_measure.vm")
    </div>
</div>

<div style="height: 544px;display:none;visibility:hidden" class="shirt_type toolbox">
    <div class="compartment2">
        <div class="title2">
            TOTAL COST
            <span style="float: right" class="shirt_total"></span>
        </div>
    </div>
    <div class="compartment" style="margin-top: -20px;">
        <div class="title"></div>
        <div style="margin-top: 5px;">
            <input type="radio" id="Male"
            name="Male" value="1" checked="checked">
            Male
        </div>
    </div>
    <div class="compartment">
        <div class="title">
            FIT
        </div>
        <div style="text-align: center; width: 110px; height: 165px;"
        class="section2" onclick="showshirt('Slim');hascuff();"><img
            title="slim.jpg" class="FITimg1"
            src="resources/design/shirt_type/fit/slim.jpg"
            onmouseover="this.src='resources/design/shirt_type/fit/slim-select.jpg'"
            onmouseout="this.src='resources/design/shirt_type/fit/slim.jpg'">
            <div style="">
                Slim
            </div>
        </div>
        <div style="text-align: center; width: 110px; height: 165px;"
        class="section2" onclick="showshirt('Regular');hascuff();"><img
            title="regular.jpg" class="FITimg2"
            src="resources/design/shirt_type/fit/regular.jpg"
            onmouseover="this.src='resources/design/shirt_type/fit/regular-select.jpg'"
            onmouseout="this.src='resources/design/shirt_type/fit/regular.jpg'">
            <div style="">
                Regular
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
    <div class="compartment">
        <div class="title">
            Sleeve
        </div>
        <div style="text-align: center; width: 110px; height: 155px;"
        class="section" onclick="showshirt('Long');hascuff();"><img
            title="long.png" class="Sleeveimg1"
            src="resources/design/shirt_type/sleeve/long-sleeve.jpg"
            onmouseover="this.src='resources/design/shirt_type/sleeve/long-sleeve-select.jpg'"
            id="long"
            onmouseout="this.src='resources/design/shirt_type/sleeve/long-sleeve.jpg'"
            onclick>
            <div style="">
                Long
            </div>
        </div>
        <div style="text-align: center; width: 110px; height: 155px;"
        class="section" onclick="showshirt('Short');nocuff();" id="short"><img
            title="short-sleeve.png" class="Sleeveimg4"
            src="resources/design/shirt_type/sleeve/short-sleeve.jpg"
            onmouseover="this.src='resources/design/shirt_type/sleeve/short-sleeve-select.jpg'"
            onmouseout="this.src='resources/design/shirt_type/sleeve/short-sleeve.jpg'">
            <div style="">
                Short
            </div>
        </div>
        <div style="text-align: center; width: 110px; height: 155px;"
        class="section"
        onclick="showshirt('Short with normal cuff');hascuff();"><img
            title="short-with-normal-cuff.png" class="Sleeveimg3"
            src="resources/design/shirt_type/sleeve/short-cuff.jpg"
            onmouseover="this.src='resources/design/shirt_type/sleeve/short-cuff-select.jpg'"
            id="cuffshort"
            onmouseout="this.src='resources/design/shirt_type/sleeve/short-cuff.jpg'">
            <div style="">
                Short with Narrow Cuff
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
    <br clear="all" />

    <div id="fabricZoom" style="display: none;">
        <div class="fabricTitle">
            <div id="fabric_price" class="price" style="float:right">
                <strong>$39.90</strong>
                <br />
                <span style="font-size:11pt;">per shirt</span>
            </div>
            <span id="faTitle">Prive</span>
        </div>
        <div id="zoomImage" style="height:210px;margin-bottom:8px;">
            <img class="layz0" id="zoomout" style="height:210px;position:absolute;" src="resources/img/transparent.png" />
        </div>
        <div>
            <div id="popup_content">
                <div class="span-8">
                    <div class="span-4">
                        <strong>Cosmoplitan</strong>
                        <p id="zoom_composition"></p>
                    </div>
                    <div class="span-4 last">
                        <strong>Treatment</strong>
                        <p id="zoom_treatment"></p>
                    </div>
                </div>
                <div class="span-8">
                    <div class="span-4">
                        <strong>Yarn</strong>
                        <p id="zoom_yarn"></p>
                    </div>
                    <div class="span-4 last">
                        <strong>Weaving information</strong>
                        <p id="zoom_weaving"></p>
                    </div>
                </div>
                <div class="span-8">
                    <div class="span-4">
                        <strong>Color information</strong>
                        <p id="zoom_colour"></p>
                    </div>
                </div>
            </div>
            <div id="details_dialog" class="dialog hide">
                <ul class="" id="details_menu">
                    <li id="details_shirt_sleeve" class="clickable details_menu  ">
                        Shirt Type
                    </li>
                    <li id="details_shirt_types" class="clickable details_menu ">
                        Shirt Type
                    </li>
                    <li id="details_fabrics" class="clickable details_menu ">
                        Fabric
                    </li>
                    <li id="details_collar" class="clickable details_menu ">
                        Collar
                    </li>
                    <li id="details_cuff" class="clickable details_menu ">
                        Cuff
                    </li>
                    <li id="details_back" class="clickable details_menu ">
                        Back
                    </li>
                    <li id="details_buttons" class="clickable details_menu ">
                        Button
                    </li>
                    <li id="details_button_thread" class="clickable details_menu ">
                        Button Thread
                    </li>
                    <li id="details_bottom_cuts" class="clickable details_menu ">
                        Buttom cuts
                    </li>
                    <li id="details_fastening" class="clickable details_menu ">
                        Fastening
                    </li>
                    <li id="details_pocket" class="clickable details_menu ">
                        Pocket
                    </li>
                    <li id="details_yoke" class="clickable details_menu ">
                        Yoke
                    </li>
                    <li id="details_thread" class="clickable details_menu ">
                        Thread
                    </li>
                    <li id="details_collar_outer" class="clickable details_menu ">
                        Collar outer
                    </li>
                    <li id="details_collar_inner" class="clickable details_menu ">
                        Collar inner
                    </li>
                    <li id="details_cuff_outer" class="clickable details_menu ">
                        Cuff outer
                    </li>
                    <li id="details_cuff_inner" class="clickable details_menu ">
                        Cuff inner
                    </li>
                    <li id="details_placket_outer" class="clickable details_menu ">
                        Placket outer
                    </li>
                    <li id="details_placket_inner" class="clickable details_menu ">
                        Placket inner
                    </li>
                    <li id="details_placket_flip" class="clickable details_menu ">
                        Placket flip
                    </li>
                    <li id="details_add_on" class="clickable details_menu ">
                        Add on
                    </li>
                    <li id="details_standard_measure" class="measure clickable details_menu ">
                        Standard Measurement
                    </li>
                    <li id="details_best_measure" class="measure clickable details_menu ">
                        Measure Best Fitting Shirt
                    </li>
                    <li id="details_own_measure" class="measure clickable details_menu ">
                        Measure own body
                    </li>

                </ul>
            </div>
            <!-- content -->
        </div>
    </div>
    <script>
        $("#fonts_option").change(function(selection) {
            $(".SampleFontsOption").css("font-family", $(this).val());
        });
        $("#text_to_personalize").keyup(function() {
            $("#font_option_sample_output").text($(this).val());
        });
        $("#zoom").click(function login() {
            if ($.tmo.design.menu_name != "fabrics") {
                return;
            }
            $("#fabricZoom").dialog({
                width : 471,
                height : 850,
                resizable : true,
                modal : true,
                title : 'FABRIC INFORMATION',
                closeText : ""
            });
        });
        $("#details").click(function() {
            $("#details_dialog").dialog({
                width : 250,
                height : 700,
                resizable : true,
                modal : true,
                title : 'Shirt Information',
                closeText : ""
            });
            $(".details_menu").show();

        });

        $(document).bind('price_refresh', function() {
            if ($.tmo.ajaxloading.pricing) {
                $.tmo.ajaxloading.pricing.abort();
            }
            if ( typeof ($.tmo.design.map) === 'undefined' || typeof ($.tmo.design.menu_name) === 'undefined') {
                return;
            }
            // $('.price').blockUI({
            //
            // css : {
            // border : 'none',
            // padding : '15px',
            // backgroundColor : '#000',
            // '-webkit-border-radius' : '8px',
            // '-moz-border-radius' : '8px',
            // opacity : .5,
            // color : '#ffff'
            // }
            // });
            var path = "shirt/price";
            var method = "GET";
            var data = "options=" + JSON.stringify($.tmo.design.map) + "&menu=" + $.tmo.design.menu_name;
            $.tmo.ajaxloading.pricing = loadServerResource(path, method, data, function(result) {
                // $('.price').unblockUI();
                $('.shirt_total').text("$" + result.toFixed(2));

            });
        });
    </script>

</div>
