/* http://meyerweb.com/eric/tools/css/reset/
 v2.0 | 20110126
 License: none (public domain)
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

p {
    padding: 0;
    border: 0;
    vertical-align: baseline;
    margin: 0 0 0.3em;
}
@font-face {
    font-family: CharcoalCY;
    src: url('CharcoalCY.ttf');
}

@font-face {
    font-family: AvantGardeITbyBT;
    src: url(AvantGardeITCbyBT-Book.eot);
    src: url(AvantGardeITCbyBT-Book.woff) format("woff"), url(AVGARDN_0.ttf) format("truetype");
}

#design_output {
    font-size: 11px;
    font-family: AvantGardeITbyBT;
}

* {
    font-family: AvantGardeITbyBT;
}

body {
    line-height: 1;
    font-size: 12px;
    font-family: AvantGardeITbyBT;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt AvantGardeITbyBT, Helvetica, sans-serif;
    background: #EFEFEF;
}

#page {
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
}

#header {
    margin: 0;
    padding: 0;
    font-family: AvantGardeITbyBT;
}

#content {
    padding: 0px;
    font-family: CharcoalCY;
    font-size: 11px;
}

#sidebar {
    padding: 20px 20px 20px 0;
}

#footer {
    padding: 10px;
    padding-top: 35px;
    padding-bottom: 15px;
    border-top: 1px solid #C9E0ED;
    background-color: #2b2b2b;
    font-family: AvantGardeITbyBT;
    color: #7f7a77;
}

ul.gray {
    margin-right: 60px;
}

ul.gray li {
    font-size: 12px;
    color: #979797;
}

strong.gray {
    font-size: 15px;
    color: #979797;
    font-weight: bold;
}

ul.gray li a {
    font-size: 12px;
    color: #979797;
    text-decoration: none;
}

#logo {
    padding: 10px 20px;
    font-size: 200%;
}

#mainmenu {
    background: white url(bg.gif) repeat-x left top;
}

#mainmenu ul {
    padding: 6px 20px 5px 20px;
    margin: 0px;
}

#mainmenu ul li {
    display: inline;
}

#mainmenu ul li a {
    color: #ffffff;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a {
    color: #6399cd;
    background-color: #EFF4FA;
    text-decoration: none;
}

div.flash-error, div.flash-notice, div.flash-success {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
}

div.flash-error {
    background: #FBE3E4;
    color: #8a1f11;
    border-color: #FBC2C4;
}

div.flash-notice {
    background: #FFF6BF;
    color: #514721;
    border-color: #FFD324;
}

div.flash-success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880;
}

div.flash-error a {
    color: #8a1f11;
}

div.flash-notice a {
    color: #514721;
}

div.flash-success a {
    color: #264409;
}

div.form .rememberMe label {
    display: inline;
}

div.view {
    padding: 10px;
    margin: 10px 0;
}

div.breadcrumbs {
    font-size: 0.9em;
    padding: 5px 20px;
}

div.breadcrumbs span {
    font-weight: bold;
}

div.search-form {
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet {

}

.portlet-decoration {
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

.portlet-title {
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

.portlet-content {
    font-size: 0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background: #EFFDFF;
}

.portlet-content ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.portlet-content li {
    padding: 2px 0 4px 0px;
}

.operations {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.operations li {
    padding-bottom: 2px;
}

.operations li a {
    font: bold 12px Arial;
    color: #0066A4;
    display: block;
    padding: 2px 0 2px 8px;
    line-height: 15px;
    text-decoration: none;
}

.operations li a:visited {
    color: #0066A4;
}

.operations li a:hover {
    background: #80CFFF;
}

.navlist li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

.navlist li a {
    text-decoration: none;
    color: black;
}

div.container {
    padding: 0 10px;
    font-family: CharcoalCY;
    width: 990px;
}

div#footer {
    width: 990px;
    margin-left: -10px;
}

.float_left {
    width: 140px;
    float: left;
    margin-left: 5px;
}

.float_left2 {
    width: 120px;
    float: left;
    margin-left: 30px;
}

.section {
    padding-top: 15px;
}

.section2 {
    padding-top: 10px;
}

.slideshow .slide {
    width: 360px;
    height: 100px;
}

.slideshow .slide .imageBox img {
    clear: both;
    cursor: pointer;
}

.slideshow .slide .imageBox {
    height: 90px;
    margin: 20px 5px;
    float: left;
    text-align: center;
    width: 80px;
    cursor: pointer;
}

#design_window {
    margin-left: -10px;
}

#design_window .title {
    font-size: 10pt;
    text-transform: uppercase;
}

#design_window .toolbox {
    border: 3px solid #808080;
    padding: 5px;
    width: 371px;
    height: 810px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
    visibility: hidden;
}

#design_window .toolbox.show {
    display: block;
    visibility: visible;
}

.hide {
    visibility: hidden;
    display: none;
}

.show {
    visibility: visible;
    display: block;
}
div.toolbox {
    width: 360px;
}

#design_window .toolbox .compartment {

}

#design_window .toolbox .compartment .section {
    width: 110px;
    display: inline;
    float: left;
}

#design_window .toolbox .compartment .section2 {
    width: 110px;
    display: inline;
    float: left;
}

#design_window .toolbox .compartment .section .name {
    height: 40px;
}

#design_window .toolbox .compartment .title {
    border-bottom: 1px dotted black;
}

.table_default {
    width: 935px;
}

table tr td {
    vertical-align: top;
}

#click .section, #click .section img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#click .section, #click .section2 img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.activeBorder {
    border: 3px solid grey;
}

.inactiveBorder {
    border: 3px solid white;
}

.section img {
    cursor: pointer;
}

.section2 img {
    cursor: pointer;
}

.collar_height {
    height: 30px;
}

.collar_height li {
    height: 30px;
    padding-right: 10px;
    float: left;
}

.cuff_height li {
    padding-right: 10px;
}

#zoom {
    background-color: #515151;
}

#zoom, #zoom img {
    width: 360px;
    height: 210px;
}

ul#menu li, ul#menu li a {
    height: 23px;
    width: 168px;
    background-image: url('../images/menu-tab1.png');
    background-repeat: no-repeat;
    button: white;
    padding: 5px;
    padding-top: 10px;
    text-transform: uppercase;
    color: white;
    font-family: AvantGardeITbyBT;
}

ul#menu li a {
    font-size: 12px;
    text-decoration: none;
    button: white;
    font-family: AvantGardeITbyBT;
}

ul#menu li.active {
    width: 194px;
    margin-bottom: 2px;
    margin-top: 2px;
}

ul#measurements li, ul#measurements li a {
    height: 23px;
    background-repeat: no-repeat;
    button: white;
    padding: 5px;
    padding-top: 10px;
    text-transform: uppercase;
    color: white;
    font-family: AvantGardeITbyBT;
}

ul#measurements li a {
    font-size: 12px;
    text-decoration: none;
    button: white;
    font-family: AvantGardeITbyBT;
}

ul#measurements li.active {
    background-image: url('../images/arrow.png');
    width: 200px;
    margin-bottom: 2px;
    margin-top: 2px;
}

ul#measurements li.inactive {
    background-image: url('../images/arrow1.png');
    width: 200px;
    /*margin-bottom:2px;
     margin-top:2px;*/
}

.section .name {
    text-transform: capitalize;
    font-size: 12px;
    font-weight: normal;
}

.section img {
    margin-top: 20px;
}

.compartment .title {
    font-size: 13px;
    font-family: CharcoalCY;
    font-weight: bold;
    height: 20px;
}

.cursor {
    cursor: pointer;
}

.buttonWidget {
    position: relative;
    height: 38px;
    margin-top: -45px;
    margin-right: 5px;
    margin-bottom: 7px;
}

.buttonWidget ol {
    float: right;
}

.buttonWidget ol li {
    float: left;
    margin: 6px 6px;
    border: 1px solid black;
    padding: 6px;
    background-color: black;
}

.buttonWidget ol li a {
    color: white;
    text-decoration: none;
}

#design_window .title {
    font-size: 10pt;
    text-transform: uppercase;
}

#design_window .title2 {
    font-size: 10pt;
    text-transform: uppercase;
}

#design_window .toolbox {
    border: 3px solid #808080;
    padding: 5px;
    width: 361px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#design_window .toolbox .compartment {
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

#design_window .toolbox .compartment2 {
    margin: 0px;
    width: 360px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#design_window .toolbox .compartment .section {
    width: 110px;
    display: inline;
    float: left;
}

#design_window .toolbox .compartment .section .name {
    height: 40px;
}

#design_window .toolbox .compartment .title {
    border-bottom: 1px dotted black;
}

#click .section, #click .section img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.activeBorder {
    border: 3px solid gray;
}

.section img {
    cursor: pointer;
}

.button_height {
    height: 30px;
}

.button_height li {
    height: 30px;
    float: left;
}

#zoom, #zoom img {
    width: 360px;
    height: 210px;
}

input.purple {
    background-color: #8d8183;
    border: 0px;
}

.align-right {
    text-align: right;
}

ul.footer_link {
    float: left;
    text-align: right;
    width: 150px;
}

.padding_left2 {
    margin-left: 150px;
}

.modalOverlay, .ui-widget-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    /*    background-color: rgba(0, 0, 0, 0.3);  black semi-transparent */
    z-index: 1000;
}

.ui-dialog, .ui-widget, .ui-widget-content {
    background-color: white;
    padding: 10px;
}

.ui-dialog table {
    width: 400px;
    height: 150px;
}

.ui-dialog-titlebar-close {
    float: right;
    background-image: url('../images/close.jpg');
    background-repeat: no-repeat;
    width: 85px;
    height: 26px;
}
.ui-dialog-titlebar .ui-state-hover {
    border: 0px;
    background: #FFFFFF url('../images/close.jpg') 0% 0%;
    background-repeat: no-repeat;
}
.ui-dialog-title {
    font-size: 11pt;
    font-family: bold;
    color: #333333;
    font-family: AvantGardeITbyBT;
    margin-left: 10px;
}

div.ui-dialog-content {
    font-family: AvantGardeITbyBT;
}

.fabricTitle {
    font-size: 15pt;
}

#faTitle {
    font-family: CharcoalCY;
}

#normal_content {
    padding-top: 20px;
    padding-left: 50px;
    font-family: AvantGardeITbyBT;
    font-size: 12px;
    width: 850px;
}

.title {
    font-size: 17px;
}

#details_c {
    padding: 5px 0px 0px 5px;
}

#details_c td {
    padding: 2px;
}

#details_c .de td {
    border: 1px dotted #ccc;
}

#menu .dim {
    color: grey;
}

.clickable {
    cursor: pointer;
}

.buttonWidget {
    position: relative;
    height: 38px;
    margin-top: 28px;
}

/* all */
::-webkit-input-placeholder {
    color: #000000;
}

input:-moz-placeholder {
    color: #000000;
}

.buttonWidget ol {
    float: right;
}

.confirmbutton {
    margin-top: -10;
}
.buttonWidget ol li, .button {
    float: none;
    margin: 5px 5px;
    border: 1px solid black;
    padding: 5px;
    background-color: black;
}

.buttonWidget ol li a, .button a, .button {
    color: white;
    text-decoration: none;
    background-color: black;
}

.att_list {
    height: 286px;
    overflow: auto;
}
.att_list li {
    display: inline;
    vertical-align: bottom;
    margin-right: 8px;
}

.att_list li:hover {
    background-color: #fd9;
}

.testpanel {
    background-color: #2d9;
    display: none;
    visibility: hide;
}

ul#ruler li {
    height: 65px;
}
ul#ruler li {
    width: 195px;
    height: 65px;
    float: left;
    overflow: hidden;
}

.input {
    border: 0px;
    background-color: #d1d1d1;
    width: 400px;
    margin-bottom: 5px;
}
.textinput {
    border: 0px;
    background-color: #d1d1d1;
    width: 400px;
    height: 200px;
    margin-bottom: 5px;
}

.buttonWidget {
    position: relative;
    height: 27px;
    /*margin-top:317px;*/
    margin-top: 2px;
    margin-left: 3px;
    padding-top: 5px;
}

.buttonWidget ol {
    float: right;
}

.buttonWidget ol li {
    float: left;
    border: 1px solid black;
    padding: 4px;
    background-color: black;
}

.buttonWidget ol li a {
    color: white;
    display: block;
    width: 95px;
    text-align: center;
    text-decoration: none;
    background-color: black;
}

.buttonWidget1 {
    position: relative;
    height: 60px;
    /*margin-top:317px;*/
    margin-top: 20px;
}

.buttonWidget1 ol {
    float: right;
}

.buttonWidget1 ol li {
    float: left;
    margin: 5px 5px;
    border: 1px solid black;
    padding: 5px;
    background-color: black;
}

.buttonWidget1 ol li a {
    color: white;
    text-decoration: none;
    background-color: black;
}

.modalOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.3); /* black semi-transparent */
    z-index: 1000;
}

.ui-dialog, .ui-widget, .ui-widget-content {
    background-color: white;
    padding: 10px;
}

.ui-dialog table {
    width: 400px;
    height: 150px;
}

.ui-dialog-titlebar-close {
    float: right;
    background-image: url(images/close.jpg);
    background-repeat: no-repeat;
    width: 85px;
    height: 26px;
}

.ui-dialog-title {
    font-size: 11pt;
    font-family: bold;
    color: #333333;
    font-family: AvantGardeITbyBT;
    margin-left: 10px;
}

div.ui-dialog-content {
    font-family: AvantGardeITbyBT;
}

.fabricTitle {
    font-size: 15pt;
}

#faTitle {
    font-family: CharcoalCY;
}

table#gallery {

    width: 850px;
}
table#gallery tr td {

    padding-right: 50px;
    vertical-align: middle;
}

table.measure_right tr td {

    padding-right: 9px;
    vertical-align: middle;
}
table#shipping_price {
    width: 300px;
    margin-left: -20px;
}
table#shipping_price tr td {
    width: 100px;
    text-align: center;
    padding-right: 20px;
}

#siteMap {
    font-size: 15px;
    margin-bottom: 12px;
}

#siteMapList ol {
    margin: 0px;
    padding: 0px;
}
#siteMapList ol li {
    margin-left: 7px;
    padding: 2px;
}
#siteMapList ol li a {
    text-decoration: none;
    color: #7f7f7f;
}

.faq p {
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
    font-size: 14px;
}

.measure, .design, .measure_middle {
    display: none;
    visibility: hidden;
}

.measure.show, .design.show, .measure_middle.show {
    display: block;
    visibility: visible;
}

input.gray2 {
    background-color: #c3c3c3;
    border: 0px;
    height: 25px;
    margin-bottom: 5px;
    padding-left: 10px;
}
fieldset {
    border: thin solid #000;
    margin-right: 23px;
    margin-top: 20px;
    margin-bottom: 10px;
}
fieldset div {
    padding-left: 10px;
}
legend {
    color: #FFF;
    background: #000;
    font-size: 12px;
    padding: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.address label {
    margin-left: 30px;
    vertical-align: bottom;
}

.address input {
    margin-left: 5px;
}

div.dotted {
    border-top: 1px dotted black;
    margin-top: 10px;
    width: 970px;
}

#content_home {
    padding: 20px;
    font-family: AvantGardeITbyBT;
}

h3 {
    font-size: 17px;
    font-family: AvantGardeITbyBT;
    margin-bottom: 10px;
}

.float_left {
    float: left;
}

#banner {
    border: 0px;
    position: relative;
}

#jumpLogo {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    margin-right: 393px;
}

#jumpLogo img {
    z-index: -1;
}

.ui-dialog, .ui-widget, .ui-widget-content {
    background-color: white;
    padding: 10px;
}
.ui-dialog table {
    width: 400px;
    height: 150px;
}

.ui-dialog-titlebar-close {
    float: right;
    background-image: url(../images/close.jpg);
    background-repeat: no-repeat;
    width: 85px;
    height: 26px;
}

.ui-dialog-title {
    font-size: 11pt;
    font-family: bold;
    color: #333333;
    font-family: AvantGardeITbyBT;
    margin-left: 10px;
}

div.ui-dialog-content {
    font-family: AvantGardeITbyBT;
}

.fabricTitle {
    font-size: 15pt;
}

#faTitle {
    font-family: CharcoalCY;
}
.wrapper {
    margin: 80px auto;
    background: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    position: relative;
    z-index: 90;
}

.ribbon-wrapper-green {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
}

.ribbon-green {
    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
    content: "";
    border-top: 3px solid #6e8900;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
}

.ribbon-green:before {
    left: 0;
}
.ribbon-green:after {
    right: 0;
}

.toolbox_selection {
    float: left;
    text-align: center;
    margin: 0 0 0 0;
    padding-right: 0px;
    padding-left: 0px;
    height: 113px;
}

.ready_button {
    width: 50%;
}

.toolbox_selection span {
    text-align: center;
}

.admin_content {
    font-family: AvantGardeITbyBT;
    font-size: 12px;
    padding-top: 52px;
}

.textfield_label, .label_for, p label {
    margin: 5px 0 5px 10px;
}

.ui-widget-header {
    color: #222222;
    font-weight: bold;
}

.ui-dialog .ui-dialog-titlebar-close {
    height: 28px;
    margin: 0 0 0;
    padding: 1px;
    position: relative;
    right: 0.3em;
    top: 50%;
    width: 92px;
}

.readytowear_thumb {
    margin-right: 31px;
}

.master_blockUI {
    border: 'none';
    padding: '15px';
    backgroundColor: '#000';
    font-size: 19pt;'-webkit-border-radius' : '10px';
    '-moz-border-radius' : '10px';
    height: '16px';
    opacity: .5;
    color: '#fff';
}

.order_group {
    margin-left: 27px;
}
.order_label {
    margin-top: 8px;
    text-align: end;
}

.invoice_view {
    background-color: #DCD9DE;
    padding: 0 0 15px;
}

.compartment ul {
    list-style: none;
    padding-left: 50px;
}

.cuff_height {

    display: -moz-inline-box;
    list-style-type: none;
    padding-right: 20px;
}

.fastening_toolbox_item {
    height: 200px;
}

.pocket_toolbox_item, .bottom_cuts_toolbox_item {
    height: 270px;
    padding-right: 20px;
}

.back_toolbox_item {
    height: 150px;
}

.helper {
    position: relative;
    top: 23px;
    right: 147px;
}

.owl_wood {
    top: 58px;
    right: -60px;
    position: absolute;
}

.cart_button {
    width: 65px;
}

div.cart_select:hover {
    background: none repeat scroll 0 0 #FFFFF0;
}

.cart_legend {
    font-weight: normal;
}

.admin .container {
    padding-top: 15px;
}
.blockOverlay {
    z-index: 1010;
}

.inline-error {
    border-style: solid;
    border-color: red;
    margin-left: 12px;
    margin-top: 20px;
    display: table-row-group;
    /*    border-width: 3px 1px 3px 3px;*/
    /*    padding: 10px 11px 10px 10px;*/
    margin-right: 28px;
    margin-bottom: 13px;
    color: #FF0000;
}

.clear {
    float: none;
    clear: both;
}

.hide_cuff {
    visibility: hidden;
    display: none;
}

.menu_list {
    width: 201px;
}

.ipad_landscape {
    width: 1010px;
    /*    height:600px;*/
}

.main_container {
    clear: both;
    content: " ";
    overflow: hidden;
}

.ready_item {
    background-color: whitesmoke;
    height: 304px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-bottom: 4px;
    width: 200px;
}
.sample_border {
    border: medium dashed lightslategrey;
    padding-left: 5px;
}

.ready_thumb {
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    max-height: 259px;
    max-width: 178px;
    width: 100%;
}

.ready_button {
    position: static;
    top: 10px;
}

.centre {
    text-align: center;
}

#ready_item {
    /*    background-image:  url('../images/blue-backdrop.jpg');*/
    background-color: #808080;
    height: 600px;
}

#ready_nav {
    background-color: white;
    float: left;
    margin: 130px 20px 20px 20px;
    padding: 20px;
    max-width: 30%;
}
.ready_picture_nav {
    height: 80px;
    width: 60px;
    margin: 10px;
    float: right;
    border: 5px;
    border-style: solid;
    border-color: white; 
}
#ready_picture {
    color: white;
    float: left;
    height: 100%;
    left: 10px;
    margin-bottom: 20px;
    margin-left: 91px;
    margin-right: 11px;
    margin-top: 0;
    max-width: 38%;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
}
.ready_image {
    height: 100%;
    max-width: 100%;
}
.social_button {
    display: block;
    font-size: 61px;
    height: 60px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
    width: 79px;
}
.social li {
    display: inline-block;
    list-style-type: none;
}
.actions{
	padding:3px;
}
